<div class="container-fluid">
  <div class="row">
    <div class="col-xl-7 order-1 b-center bg-size" [ngStyle]="{ 'background-image': 'url(assets/images/login/6.jpg)'}">
      <img class="bg-img-cover bg-center" src="assets/images/login/7.jpg" alt="image">
    </div>
    <div class="col-xl-5 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo text-start" href="javascript:void(0)" [routerLink]="['/']">
              <img class="img-fluid for-light" src="assets/images/logo/logo.svg" alt="logo">
              <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.svg" alt="logo">
            </a>
          </div>
          <div class="login-main">
            <h4>Reset Your Password</h4>
            <p class="desc">Enter your email to reset your password</p>

            @if (token()) {
              <form class="theme-form" [formGroup]="resetForm" (ngSubmit)="reset()">
                <div class="form-group m-b-15">
                  <label class="col-form-label">Password</label>
                  <div class="form-input position-relative">
                    <input class="form-control" [type]="show() ? 'text' : 'password'" type="password"
                           name="login[password]"
                           required="" placeholder="*********" formControlName="newPassword">
                    @if (!show()) {
                      <div class="show-hide" (click)="showPassword()">
                        <span class="show"></span>
                      </div>
                    } @else {
                      <div class="show-hide" (click)="showPassword()">
                        <span class="Hide"></span>
                      </div>
                    }
                    @if (resetForm.controls['newPassword'].touched && resetForm.controls['newPassword'].errors?.['required']) {
                      <div class="text text-danger position-absolute">Password is required</div>
                    }
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label">Confirm Password</label>
                  <div class="form-input position-relative">
                    <input class="form-control" [type]="showConfirm() ? 'text' : 'password'" type="password"
                           name="login[confirmPassword]"
                           required="" placeholder="*********" formControlName="confirmPassword">
                    @if (!showConfirm()) {
                      <div class="show-hide" (click)="showConfirmPassword()">
                        <span class="show"></span>
                      </div>
                    } @else {
                      <div class="show-hide" (click)="showConfirmPassword()">
                        <span class="Hide"></span>
                      </div>
                    }
                    @if (resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword'].errors?.['required']) {
                      <div class="text text-danger position-absolute">Password is required</div>
                    }
                    @if (resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword'].errors?.['mustMatch']) {
                      <div class="text text-danger position-absolute">Passwords do not match</div>
                    }
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-check"></div>
                  <div class="text-end">
                    <button class="btn btn-primary btn-block w-100 mt-3" type="submit" [disabled]="!resetForm.valid">
                      Reset
                    </button>
                  </div>
                </div>
              </form>
            } @else {
              <form class="theme-form" [formGroup]="form" (ngSubmit)="send()">
                <div class="form-group">
                  <label class="col-form-label">Email Address</label>
                  <input class="form-control" type="email" required="" placeholder="test@gmail.com"
                         formControlName="email">
                  @if (form.controls['email'].touched && form.controls['email'].errors?.['required']) {
                    <div class="text text-danger mt-1"> Email is required</div>
                  }
                  @if (form.controls['email'].touched && form.controls['email'].errors?.['email']) {
                    <div class="text text-danger mt-1">Invalid Email</div>
                  }
                </div>
                <div class="form-group">
                  <div class="form-check"></div>
                  <div class="text-end">
                    <button class="btn btn-primary btn-block w-100 mt-3" type="submit" [disabled]="!form.valid">
                      Reset
                    </button>
                  </div>
                </div>
              </form>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
