<div class="container-fluid p-t-30 default-dashboard">
  <div class="row">
    <div class="col-xxl-6 col-md-6 box-col-6">
      <app-social-analytics></app-social-analytics>
      <app-upcoming-quotes></app-upcoming-quotes>
    </div>
    <div class="col-xxl-6 col-md-6 box-col-6">
      <app-sales-week></app-sales-week>
      <app-website-traffic></app-website-traffic>
    </div>
    <div class="col-xxl-7 col-md-6 box-col-6">
      <app-dashboard-warnings></app-dashboard-warnings>
    </div>
    <div class="col-xxl-5 col-md-6 box-col-6">
      <app-dashboard-important-dates></app-dashboard-important-dates>
      <app-finance-overview></app-finance-overview>
    </div>
    <div class="col-xxl-6 col-md-6 box-col-6">

    </div>
  </div>
</div>
