<div class="container-fluid p-t-30 default-dashboard">
  <div class="row">
    <div class="col-xxl-6 col-md-6 box-col-6">
      <app-social-analytics></app-social-analytics>
    </div>
    <div class="col-xxl-6 col-md-6 box-col-6">
      <app-sales-week></app-sales-week>
    </div>
    <div class="col-xxl-8 col-md-6 order-xxl-0 order-sm-4 box-col-6 box-ord-4">
      <app-upcoming-quotes></app-upcoming-quotes>
    </div>
    <div class="col-xxl-4 col-md-6 box-col-6">
      <app-website-traffic></app-website-traffic>
    </div>
    <div class="col-xxl-3 col-md-6 box-col-6">
      <app-finance-overview></app-finance-overview>
    </div>
  </div>
</div>
