<div class="header-wrapper row m-0">
  <app-search></app-search>
  <div class="header-logo-wrapper col-auto p-0">
    <app-header-logo [icon]="'align-center'" [type]="'header'"></app-header-logo>
  </div>

  @if (isScheduleRoute) {
    <form class="common-flex m-l-20 col-auto" style="max-width: 300px;" [formGroup]="form" (ngSubmit)="submit()">
      <div class="col" style="max-width: 150px">
        <input class="form-control digits" id="datetime-local"
               placeholder="yyyy-mm-dd" name="from"
               formControlName="date"
               ngbDatepicker #fromDate="ngbDatepicker"
               (click)="fromDate.toggle()">
      </div>
      <div class="col-auto d-flex justify-content-start align-items-center">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-arrows-rotate"></i></button>
      </div>
    </form>
  }

  <div class="nav-right col-auto pull-right right-header p-0 ms-auto">
    <ul class="nav-menus">
      <li class="language-nav" (click)="toggleLanguage()">
        <app-header-language></app-header-language>
      </li>

      <li class="fullscreen-body">
        <app-toggle-screen></app-toggle-screen>
      </li>

      <!--            <li>-->
      <!--                <app-svg-icon [icon]="'search'" (click)="openSearch()"></app-svg-icon>-->
      <!--            </li>-->

      <!--            <li class="onhover-dropdown">-->
      <!--                <app-header-bookmark></app-header-bookmark>-->
      <!--            </li>-->

      <li>
        <app-mode></app-mode>
      </li>

<!--      <li class="onhover-dropdown">-->
<!--        <app-header-notification></app-header-notification>-->
<!--      </li>-->

      <li class="profile-nav onhover-dropdown pe-0 py-0">
        <app-profile></app-profile>
      </li>
    </ul>
  </div>
</div>
