<div class="header-wrapper row m-x-0">
  <app-search></app-search>
  <div class="header-logo-wrapper col-auto p-0">
    <app-header-logo [icon]="'align-center'" [type]="'header'"></app-header-logo>
  </div>

  @if (isScheduleRoute) {
    <form class="flex gap-10 align-items-center max-w-300" [formGroup]="form" (ngSubmit)="submit()">
      <div class="flex gap-4">
        <div class="col date-input">
          <input class="form-control digits" id="datetime-local"
                 placeholder="yyyy-mm-dd" name="from"
                 formControlName="date"
                 ngbDatepicker #fromDate="ngbDatepicker"
                 (click)="fromDate.toggle()">
        </div>
        <div class="col-auto d-flex justify-content-start align-items-center">
          <button class="btn p-x-14 btn-primary" type="submit"><i class="fa-solid fa-arrows-rotate"></i></button>
        </div>
      </div>

      <div class="flex gap-2">
        <button type="button"
                [class.btn-primary]="navService.days === 2"
                [class.btn-secondary]="navService.days !== 2"
                class="btn example-popover mb-0 me-0 p-x-12"
                (click)="setDays(2)">
          2
        </button>
        <button type="button"
                [class.btn-primary]="navService.days === 4"
                [class.btn-secondary]="navService.days !== 4"
                class="btn example-popover mb-0 me-0 p-x-12"
                (click)="setDays(4)">
          4
        </button>
        <button type="button"
                [class.btn-primary]="navService.days === 7"
                [class.btn-secondary]="navService.days !== 7"
                class="btn example-popover mb-0 me-0 p-x-12"
                (click)="setDays(7)">
          7
        </button>
      </div>

      <div class="flex gap-2">
        <select2 [data]="regions" [value]="0" [templates]="template" [displaySearchStatus]="'hidden'"
                 (update)="setRegion($event)"
                 placeholder="Region" class="w-130 bg-light-secondary">
          <ng-template #template let-item="label">
            {{ item }}
          </ng-template>
        </select2>
      </div>

      @if (queryParams() && queryParams().get('jobId')) {
        <div class="badge-spacing image-badges">
            <span
              class="badge common-align txt-primary rounded-pill badge-l-primary rounded-pill border border-primary">
                {{ queryParams().get('jobId') }}
              <a href="javascript:void(0)" (click)="resetJobIdFilter()">
                <app-feather-icon [icon]="'x-circle'"
                                  [class]="'ms-1 stroke-primary'">
                </app-feather-icon>
              </a>
            </span>
        </div>
      }
    </form>
  }

  <div class="nav-right col-auto pull-right right-header p-0 ms-auto">
    <ul class="nav-menus">
      <li class="language-nav" (click)="toggleLanguage()">
        <app-header-language></app-header-language>
      </li>

      @if (isScheduleRoute) {
        <li>
          <div class="flex">
            <div class="square-product-setting flex items-center" (click)="setListView('list')">
              <a href="javascript:void(0)" class="icon-grid grid-layout-view m-0">
                <i class="fas fa-list-ul f-18" [class.text-primary]="(navService.listView$ | async) === 'list'"></i>
              </a>
            </div>
            <div class="square-product-setting flex items-center" (click)="setListView('grid')">
              <a href="javascript:void(0)" class="icon-grid grid-layout-view m-0">
                <i class="fas fa-th f-18" [class.text-primary]="(navService.listView$ | async) === 'grid'"></i>
              </a>
            </div>
          </div>
        </li>
      }
      <!--      <li class="fullscreen-body">-->
      <!--        <app-toggle-screen></app-toggle-screen>-->
      <!--      </li>-->

      <!--            <li>-->
      <!--                <app-svg-icon [icon]="'search'" (click)="openSearch()"></app-svg-icon>-->
      <!--            </li>-->

      <!--            <li class="onhover-dropdown">-->
      <!--                <app-header-bookmark></app-header-bookmark>-->
      <!--            </li>-->

      <!--      <li class="mode">-->
      <!--        <app-mode></app-mode>-->
      <!--      </li>-->

      <!--      <li class="onhover-dropdown">-->
      <!--        <app-header-notification></app-header-notification>-->
      <!--      </li>-->

      <li class="profile-nav onhover-dropdown pe-0 py-0">
        <app-profile></app-profile>
      </li>
    </ul>
  </div>
</div>
