<div class="p-x-10 p-y-15">
  <app-card>
    <div class="d-flex align-items-center justify-content-between gap-12">
      <div class="d-flex align-items-center gap-12">
        <i (click)="goBack()"
           class="pointer fa-solid fa-circle-chevron-left f-36 txt-primary"></i>
        <h3 class="m-0">Job Details</h3>
      </div>

      <div class="border rounded-3"
           [class.border-dark]="!editJobRef?.rateCardChanged"
           [class.border-danger]="editJobRef?.rateCardChanged"
      >
        <button
          type="button"
          class="btn d-flex flex-wrap align-items-center gap-2 p-x-6 p-y-4"
          (click)="editJobRef?.toggleFinanceAccordion()">
          <span class="badge t-0 "
                [class.bg-primary]="!editJobRef.currencyChanged"
                [class.bg-danger]="editJobRef.currencyChanged"
                title="Currency">Curr
          </span>
          <span class="badge t-0 bg-primary"
                [class.bg-primary]="editJobRef.prePaymentBadgeValue <= 0"
                [class.bg-danger]="editJobRef.prePaymentBadgeValue > 0"
                title="Pre payment">Pre
          </span>
          <span class="badge t-0"
                [class.bg-primary]="editJobRef.discountBadgeValue <= 0"
                [class.bg-danger]="editJobRef.discountBadgeValue > 0"
                title="Discount">Disc
          </span>
          <span class="badge t-0 bg-primary" title="Rate card">Rate</span>
        </button>
      </div>

      <button
        class="w-130 btn btn-primary position-relative"
        type="button"
        (click)="editJobRef.submit()"
        [disabled]="!editJobRef?.form?.valid || editJobRef?.loading?.()">
        Save
        @if (editJobRef?.loading?.()) {
          <i class="t-10 r-10 position-absolute fa-solid fa-circle-notch fa-spin"></i>
        }
      </button>
    </div>

    <div class="m-t-20">
      <app-edit-job
        #editJobRef
        [jobDetails]="jobDetails()"
        [jobWarnings]="jobWarnings()"
        [jobRateCard]="jobRateCard()"
        (partialPaymentsUpdated)="onPartialPaymentsUpdated($event)"
        (jobPartsUpdated)="getDetails()">
      </app-edit-job>
    </div>
  </app-card>
</div>
