<div class="modal-content">
  <div class="modal-body social-profile text-start dark-sign-up">
    <div class="modal-toggle-wrapper">
      <div class="text-center m-b-20">
        <h4 class="m-0">{{ job.companyName }}</h4>
        <p class="m-0 txt-secondary f-14">{{ job.venueName }}</p>
      </div>

      <div class="row g-3">
        <div class="col-12 col-lg-4">
          <h6 class="text-center txt-secondary f-14 m-b-15">Email Recipient</h6>

          <div class="flex flex-col gap-12">
            <div>
              <label class="form-label">Recipient</label>
              <div class="input-group">
                <input class="form-control" type="text" [(ngModel)]="recipientName" placeholder="Accounts">
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-user txt-secondary"></i>
                </span>
              </div>
            </div>

            <div>
              <label class="form-label">Email</label>
              <div class="input-group">
                <input class="form-control" type="email" [(ngModel)]="recipientEmail" placeholder="Email address">
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-envelope txt-secondary"></i>
                </span>
              </div>
            </div>

            <div>
              <label class="form-label">CC</label>
              <div class="input-group">
                <input class="form-control" type="email" [(ngModel)]="ccEmail" placeholder="CC...">
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-envelope txt-secondary"></i>
                </span>
              </div>
            </div>

            <div>
              <label class="form-label">Amount</label>
              <div class="input-group">
                <input
                  class="form-control"
                  type="text"
                  readonly
                  [value]="job.cost | currency:'GBP':'symbol':'1.2-2'"
                >
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-sterling-sign txt-secondary"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-8">
          <div class="NgxEditor__Wrapper ngx-editor">
            <ngx-editor-menu
              [editor]="editor"
              [toolbar]="toolbar"
              dropdownPlacement="bottom"
            ></ngx-editor-menu>
            <ngx-editor
              autofocus
              [editor]="editor"
              [(ngModel)]="emailBody"
              [placeholder]="'Type here...'"
            ></ngx-editor>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-content-end gap-10 m-t-20">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onNext()">Next</button>
      </div>
    </div>
  </div>
</div>
