<div class="modal-content position-relative">
  @if (loading()) {
    <div class="invoice-email-modal-loader">
      <i class="fa-solid fa-spinner fa-spin fa-2x text-primary"></i>
    </div>
  }
  <div class="modal-body social-profile text-start dark-sign-up min-h-400" [class.invoice-email-modal-loading]="loading()">
    <div class="modal-toggle-wrapper">
      <div class="position-relative m-b-20">
        @if (isInvoiceSent()) {
          <div class="text-center">
            <h4 class="m-0">{{ sentInvoiceStatusText }}</h4>
          </div>
        } @else {
          <div class="text-center">
            <h4 class="m-0">{{ companyName }}</h4>
            <p class="m-0 txt-secondary f-14">{{ venueName }}</p>
          </div>
        }
      </div>

      <div class="row g-3">
        <div class="col-4">
          <h6 class="text-center txt-dark f-18 m-b-15">Email Recipient</h6>

          <div class="flex flex-col gap-12">
            <div>
              <label class="form-label">
                Recipient
                @if (!isInvoiceSent()) {
                  <span class="text-danger" aria-hidden="true">*</span>
                }
              </label>
              <div class="input-group">
                <input
                  class="form-control"
                  type="text"
                  [readonly]="isInvoiceSent()"
                  [ngModel]="recipientName"
                  (ngModelChange)="onRecipientNameChange($event)"
                  placeholder="Accounts"
                >
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-user txt-secondary"></i>
                </span>
              </div>
            </div>

            <div>
              <label class="form-label">Email</label>
              <div class="input-group">
                <input
                  class="form-control"
                  type="email"
                  [readonly]="isInvoiceSent()"
                  [(ngModel)]="recipientEmail"
                  placeholder="Email address"
                >
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-envelope txt-secondary"></i>
                </span>
              </div>
            </div>

            <div>
              <label class="form-label">CC</label>
              <div class="input-group">
                <input
                  class="form-control"
                  type="email"
                  [readonly]="isInvoiceSent()"
                  [(ngModel)]="ccEmail"
                  placeholder="CC..."
                >
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-envelope txt-secondary"></i>
                </span>
              </div>
            </div>

            <div>
              <label class="form-label">Amount</label>
              <div class="input-group">
                <input
                  class="form-control"
                  type="text"
                  readonly
                  [value]="amount | currency:'GBP':'symbol':'1.2-2'"
                >
                <span class="input-group-text bg-light-secondary">
                  <i class="fa-solid fa-sterling-sign txt-secondary"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8">
          <div
            class="NgxEditor__Wrapper ngx-editor invoice-email-editor"
            [class.invoice-email-editor--readonly]="isInvoiceSent()"
          >
            @if (!isInvoiceSent()) {
              <ngx-editor-menu
                [editor]="editor"
                [toolbar]="toolbar"
                dropdownPlacement="bottom"
              ></ngx-editor-menu>
            }
            <ngx-editor
              [autofocus]="!isInvoiceSent()"
              [editor]="editor"
              outputFormat="html"
              [ngModel]="emailBody"
              (ngModelChange)="onEmailBodyChange($event)"
              [placeholder]="'Type here...'"
            ></ngx-editor>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end gap-2 m-t-20">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        @if (!isInvoiceSent()) {
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="loading() || !recipientName.trim()"
            (click)="onNext()"
          >
            Next
          </button>
        }
      </div>
    </div>
  </div>
</div>
