<app-card
  [headerTitle]="'Crew'"
  [padding]="false"
  [cardBodyClass]="'px-0 pt-0 common-option'">

  @if (loading())  {
    <div class="h-300 w-100 flex items-center justify-content-center">
      <p class="text-primary f-24">Loading...</p>
    </div>
  } @else {
    <div class="recent-table table-responsive currency-table recent-order-table custom-scrollbar">
      @if (tableConfig?.data?.length) {
        <app-table [tableConfig]="tableConfig"
                   [search]="false"
                   [pageSize]="tableConfig?.data?.length"
                   [maxHeight]="400"
                   [hasCheckbox]="true" [pagination]="false">
        </app-table>
      }
    </div>
  }
</app-card>
