<div class="card">
  <div class="card-header card-no-border">
    <div class="header-top week-header">
      <h5>Crew By Hour(London)</h5>
      <div class="card-header-right-icon">
        <a class="btn btn-light f-w-500 c-o-light">
          Next 14 days
        </a>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <ul class="sales-data common-flex">
      <li>
        <span class="sale-value primary-20"></span>
        <span class="c-light ms-1">0-30</span>
      </li>
      <li>
        <span class="sale-value primary-70"></span>
        <span class="c-light ms-1">30-70</span>
      </li>
      <li>
        <span class="sale-value bg-primary"></span>
        <span class="c-light ms-1">70+</span>
      </li>
    </ul>
    <div class="sales-week-container">
      @if (loading())  {
        <div class="h-300 w-100 flex items-center justify-content-center">
          <p class="text-primary f-24">Loading...</p>
        </div>
      } @else {
        <div id="sale-week">
          <apx-chart
            [chart]="crewByHour.chart"
            [colors]="crewByHour.colors"
            [plotOptions]="crewByHour.plotOptions"
            [dataLabels]="crewByHour.dataLabels"
            [series]="crewByHour.series"
            [xaxis]="crewByHour.xaxis"
            [yaxis]="crewByHour.yaxis"
            [responsive]="crewByHour.responsive">
          </apx-chart>
        </div>
      }
    </div>
  </div>
</div>
