@if (loading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
} @else {
  @for (schedule of list(); track schedule.jobPartId) {
    <div class="row g-3 position-relative card-wrapper">
      <div class="col">
        <div class="vertical-ribbon-animate">
          <div class="ribbon-vertical-right-wrapper border border-1 vertical-rp-space height-equal alert-light-light"
               [style.background-color]="schedule.statusColour">
            <div class="ribbon ribbon-bookmark ribbon-vertical-right ribbon-success"
                 style="left: 50%; transform: translateX(-50%); width: fit-content; padding: 0 10px;"
                 [ngStyle]="{'backgroundColor' : schedule.statusColour}">
              <i class="fa fa-bolt m-r-10"></i>
              <span>{{ schedule.statusText + ' ' + schedule.jobId }}</span>
            </div>

            <div class="row g-3 column-gap-1 justify-content-between">
              <div class="col-6">
                <div class="flex-no-wrap">
                  <div class="col-9 display-flex">
                    <div class="flex-no-wrap">
                      <div class="calendar">
                        <div class="date bg-light">
                          <em>{{ schedule.startDate | date: 'EEEE':'': 'en' }}</em>
                          <strong>{{ schedule.startDate | date: 'MMMM':'': 'en' }}</strong>
                          <span>{{ schedule.startDate | date: 'dd' }}</span>
                        </div>

                        <div class="time bg-danger p-1 b-r-10">
                          <h1 class="f-40 fw-bold text-white">
                            {{ schedule.startDate | date: 'HH:mm' }}
                          </h1>
                        </div>
                      </div>

                      <div class="info-icons">
                        <div>
                          <i class="fa-solid fa-car me-2 txt-primary f-20"></i>
                        </div>
                        <div>
                          <i class="far fa-moon me-2 text-success f-20"></i>
                        </div>
                      </div>

                      <div class="additional-info">
                        <h6>
                          {{ schedule.startDate | date: 'HH:mm' }} -  {{ schedule.endDate | date: 'HH:mm' }}
                          (Cr: {{ schedule.crewNumber }},
                          Hrs: {{ hoursDifference(schedule.startDate, schedule.endDate) }} )
                        </h6>
                        @if (schedule.companyName) {
                          <h6>{{ schedule.companyName }}</h6>
                        }
                        @if (schedule.venueName) {
                          <h6>{{ schedule.venueName }}</h6>
                        }
                        @if (schedule.address) {
                          <h6>{{ schedule.address }}</h6>
                        }
                        @if (schedule.onsiteContact) {
                          <h6>{{ schedule.onsiteContact }}</h6>
                        }
                      </div>
                    </div>
                  </div>

                  <h6 class="fw-bold pointer m-0" style="margin-top: 12px;">{{ schedule.shiftNumber }}
                    of {{ schedule.shiftCount }}
                  </h6>
                </div>

                <div class="row g-1 row-gap-1 m-t-20">
                  <div class="car-nums col-8">
                    @for (vehicle of schedule.vehicles; track vehicle.vehicleId) {
                      <div class="car-num">
                        <app-uk-car-num>
                          {{ vehicle.numberPlate }}
                        </app-uk-car-num>
                      </div>
                    }
                  </div>

                  <div class="skills col-4">
                    <div>
                      <i class="fa-solid fa-truck me-2 txt-primary f-20"></i>
                    </div>
                    <div>
                      <i class="fa-solid fa-wrench me-2 text-danger f-20"></i>
                    </div>
                  </div>
                </div>
              </div>

              @if (schedule?.crews?.length) {
                <div class="list-wrapper col-5">
                  <ol class="list-group p-0">
                    @for (crew of schedule.crews; let i = $index; track i) {
                      <li class="list-group-item fw-bold {{!crew.isActive ? 'pointer' : ''}}" (click)="openCrewsPanel(crew)">
                        @if (crew.isActive) {
                          <div class="status"
                               [style.background-color]="crew.jobPartCrewStatusColour"
                               ngbPopover="აქ იქნება ინფორმაცია ქრუს გრაფიკზე ასევე ისტორია, ბექის სერვისი გვჭირდება"
                               [popoverTitle]="crew.name + ' - ' + (schedule.startDate | date: 'dd MMM')"
                          >
                            <div class="icon">
                              @if (crew.jobPartCrewRoleId === 1) {
                                <i class="fas fa-square me-2 text-success f-14"></i>
                              }
                              @if (crew.jobPartCrewRoleId === 2) {
                                <i class="far fa-star me-2 text-success f-14"></i>
                              }
                              @if (crew.jobPartCrewRoleId === 4) {
                                <i class="fa-solid fa-flag me-2 text-success f-14"></i>
                              }
                            </div>
                          </div>
                          <p class="hide-scrollbar f-14">
                            {{ crew.name }}
                          </p>
                        }

                        @if (crew.isActive) {
                          <div class="buttons">
                            <button class="btn b-ln-height btn-primary btn-square" [ngbTooltip]="'Edit'"
                                    (click)="openModal(loginModal)">
                              <app-feather-icon [class]="'w-15'" [icon]="'edit'"></app-feather-icon>
                            </button>

                            <div class="btn-group" ngbDropdown [placement]="'bottom-right'">
                              <button class="btn b-ln-height btn-info btn-square" style="width: 36px;"
                                      ngbDropdownToggle>
                                @if (crew.loading) {
                                  <app-feather-icon [class]="'w-15 text-white spin'"
                                                    [icon]="'loader'"></app-feather-icon>
                                } @else {
                                  <app-feather-icon [class]="'w-15'" [icon]="'settings'"></app-feather-icon>
                                }
                              </button>
                              <ul class="dropdown-menu" ngbDropdownMenu>
                                @for (menu of menu(); track menu) {
                                  <li (click)="menuAction(menu, crew)">
                                    <a class="dropdown-item" style="display:flex; align-items: center"
                                       href="javascript:void(0)" ngbDropdownItem>
                                      <i class="{{menu.icon}} {{menu.color}} me-2"></i>
                                      {{ menu.text }}
                                    </a>
                                  </li>
                                }
                              </ul>
                            </div>
                          </div>
                        }
                      </li>
                    }
                  </ol>
                </div>
              }
            </div>

            <div class="main-divider">
              <div class="divider-body divider-body-1 divider-primary">
                <div class="divider-p-primary }}">
                  <i class="fa-solid fa-comments me-2 txt-primary f-20"></i>
                  <span class="txt-primary">Comments</span>
                </div>
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col-sm-5">
                <label class="form-label justify-content-between common-flex">
                  Job Part Comments:
                  @if (schedule.notes || schedule.editComment) {
                    <span class="pointer">
                       @if (!schedule.editComment) {
                         <i (click)="edit(schedule, 'comment')" class="fas fa-pencil-alt me-2 text-primary f-16"></i>
                       } @else {
                         <i (click)="saveNote(schedule, 'comment')"
                            class="fa-solid fa-check me-2 text-success f-16"></i>
                       }
                      </span>
                  } @else {
                    <span class="pointer"><i (click)="edit(schedule, 'comment')"
                                             class="fa-solid fa-plus me-2 text-success f-16"></i></span>
                  }
                </label>
                @if (schedule.notes || schedule.editComment) {
                  <textarea [(ngModel)]="schedule.notes" rows="4"
                            [readonly]="!schedule.editComment" style="background: #FFF7E5;"
                            class="form-control btn-square hide-scrollbar text-warning f-14">
                    </textarea>
                }
              </div>

              <div class="col-sm-5">
                <label class="form-label justify-content-between common-flex">
                  Crew Notes:
                  @if (schedule.crewNotes || schedule.editCrewNote) {
                    <span class="pointer">
                       @if (!schedule.editCrewNote) {
                         <i (click)="edit(schedule, 'crewNote')" class="fas fa-pencil-alt me-2 text-primary f-16"></i>
                       } @else {
                         <i (click)="saveNote(schedule, 'crewNote')"
                            class="fa-solid fa-check me-2 text-success f-16"></i>
                       }
                      </span>
                  } @else {
                    <span class="pointer"><i (click)="edit(schedule, 'crewNote')"
                                             class="fa-solid fa-plus me-2 text-success f-16"></i></span>
                  }
                </label>
                @if (schedule.crewNotes || schedule.editCrewNote) {
                  <textarea [(ngModel)]="schedule.crewNotes" rows="4"
                            [readonly]="!schedule.editCrewNote" style="background: #FFF7E5;"
                            class="form-control btn-square hide-scrollbar text-warning f-14">
                    </textarea>
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="open-crew-panel pointer" (click)="openCrewsPanel()">
        <i class="fa-solid fa-user-group f-20"></i>
      </div>
    </div>
  }
}

<ng-template #loginModal let-modal>
  <app-edit></app-edit>
</ng-template>


