@if (loading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
} @else {
  @for (schedule of list; track schedule.jobPartId) {
    <div class="row g-3 position-relative card-wrapper" (click)="selectSchedule(schedule)">
      <div class="col">
        <div class="vertical-ribbon-animate" [class.loading]="schedule.updateLoading">
          <div class="ribbon-vertical-right-wrapper border border-1 vertical-rp-space height-equal alert-light-light"
               [style.background-color]="schedule.statusColour">
            <div class="ribbon ribbon-bookmark ribbon-vertical-right ribbon-success"
                 [ngStyle]="{'backgroundColor' : schedule.statusColour}">
              <i class="fa fa-bolt m-r-10"></i>
              <span>{{ schedule.statusText + ' ' + schedule.jobId }}</span>
            </div>

            <div class="row g-3 justify-content-between">
              <div class="col-lg-6">
                <div class="flex-no-wrap">
                  <div class="col-9 display-flex">
                    <div class="flex-no-wrap">
                      <div class="calendar pointer">
                        <div class="date bg-light {{schedule.vehicleLoader && !hideVehicles ? 'loading' : ''}}"
                             (click)="getVehicleInfo(schedule)">
                          <em>{{ schedule.startDate | date: 'EEEE':'': 'en' }}</em>
                          <strong>{{ schedule.startDate | date: 'MMMM':'': 'en' }}</strong>
                          <span>{{ schedule.startDate | date: 'dd' }}</span>
                        </div>

                        <div class="time bg-danger p-1 b-r-10">
                          <h1 class="f-30 fw-bold text-white" style="font-size: 32px;">
                            {{ schedule.startDate | date: 'HH:mm' }}
                          </h1>
                        </div>
                      </div>

                      <div class="info-icons">
                        <div class="min-w-28 flex flex-col items-center justify-content-center">
                          @if (schedule.ootCost > 0) {
                            <i class="fa-solid fa-car txt-primary f-14"></i>
                          }
                        </div>
                        @if (schedule.isNigthShiftPaid) {
                          <div class="min-w-28 flex flex-col items-center justify-content-center">
                            <i class="far fa-moon text-success f-14"></i>
                          </div>
                        } @else if (schedule.isNightShift) {
                          <div class="min-w-28 flex flex-col items-center justify-content-center">
                            <i class="far fa-moon f-14"></i>
                          </div>
                        }
                        <div class="min-w-28 flex flex-col items-center justify-content-center pointer"
                             (click)="getVehicleInfo(schedule, true)">
                          @if (schedule.vehicleLoader && hideVehicles) {
                            <app-feather-icon [class]="'w-14 h-14 text-white spin'"
                                              [icon]="'loader'"></app-feather-icon>
                          } @else {
                            @if (schedule.messageStatus === -1) {
                              <i class="icofont icofont-envelope f-14 text-warning" [ngbTooltip]="schedule.smsStatusTitle"></i>
                            } @else if (schedule.messageStatus === 0) {
                              <i class="icofont icofont-envelope-open f-14 text-success" [ngbTooltip]="schedule.smsStatusTitle"></i>
                            }
                          }
                        </div>
                      </div>

                      <div class="additional-info">
                        <h6>
                          {{ schedule.startDate | date: 'HH:mm' }} -  {{ schedule.endDate | date: 'HH:mm' }}
                          (Cr: {{ schedule.crewNumber }},
                          Hrs: {{ hoursDifference(schedule.startDate, schedule.endDate) }} )
                        </h6>
                        @if (schedule.companyName) {
                          <h6>{{ schedule.companyName }}</h6>
                        }
                        @if (schedule.venueName) {
                          <h6>{{ schedule.venueName }}</h6>
                        }
                        @if (schedule.address) {
                          <h6>{{ schedule.address }}</h6>
                        }
                        @if (schedule.onsiteContact) {
                          <h6 class="fw-bold fst-italic">Onsite: {{ schedule.onsiteContact }}</h6>
                        } @else {
                          <h6 class="fw-bold text-warning fst-italic pulse">
                            <i class="fa-solid fa-warning text-warning"></i> Onsite Contact Missing
                          </h6>
                        }
                      </div>
                    </div>
                  </div>

                  @if (jobShiftsLoading() && schedule.jobPartId === selectedSchedule.jobPartId) {
                    <h6 class="fw-bold pointer m-0 common-flex justify-content-center" style="min-width: 45px;"
                        (click)="openJobShifts(schedule)">
                      <app-feather-icon [class]="'w-14 text-white spin'" [icon]="'loader'"></app-feather-icon>
                    </h6>
                  } @else {
                    <h6 class="fw-bold pointer m-0 text-primary" (click)="openJobShifts(schedule)">
                      {{ schedule.shiftNumber }}
                      of
                      {{ schedule.shiftCount }}
                    </h6>
                  }
                </div>

                <div class="row g-1 row-gap-1 m-t-10">
                  <div class="car-nums col-8">
                    @for (vehicle of schedule.vehicles; track vehicle.vehicleId) {
                      <div class="car-num" (click)="getVehicleInfo(schedule)">
                        <app-uk-car-num>
                          {{ vehicle.numberPlate }}
                        </app-uk-car-num>
                      </div>
                    }
                  </div>

                  <div class="skills col-4">
                    @for (skill of schedule.transformedSkills | filter:[
                      { field: 'active', condition: 'equals', value: true }
                    ]; track skill.url + $index) {
                      <i class="pointer border p-3 rounded text-warning"
                         [class]="skill.url"
                         [ngbTooltip]="skill.name | titlecase"></i>
                    }
                  </div>
                </div>
              </div>

              <div class="list-wrapper col-lg-6 p-2 rounded" [ngStyle]="getCrewSectionStyles(schedule)">
                @if (schedule?.crews?.length) {
                  <ol class="list-group p-0">
                    @for (crew of schedule.crews; let i = $index; track i) {
                      <li class="list-group-item fw-bold {{!crew.isActive ? 'pointer' : ''}}"
                          (click)="openCrewsPanel(crew, $event, schedule);">
                        @if (crew.isActive) {
                          <div class="status"
                               (click)="getCrewDetails(crew, popoverRef)"
                               [style.background-color]="crew.jobPartCrewStatusColour"
                               #popoverRef="ngbPopover"
                               triggers="manual"
                               [popoverClass]="'wide-popover border bg-dark'"
                               [ngbPopover]="shiftCrewDetailsRef"
                               [popoverTitle]="crew.name + ' - ' + (schedule.startDate | date: 'dd MMM')"
                          >
                            <div class="icon">
                              @if (crew.detailsLoading) {
                                <app-feather-icon [class]="'w-10 h-10 text-white spin'"
                                                  [icon]="'loader'"></app-feather-icon>
                              } @else {
                                @if (crew.jobPartCrewRoleId === 1) {
                                  <i class="fas fa-square me-2 text-white f-10"></i>
                                }
                                @if (crew.jobPartCrewRoleId === 2) {
                                  <i class="far fa-solid fa-star me-2 text-white f-10"></i>
                                }
                                @if (crew.jobPartCrewRoleId === 4) {
                                  <i class="fa-solid fa-flag me-2 text-white f-10"></i>
                                }
                              }
                            </div>
                          </div>
                          <p class="hide-scrollbar">
                            {{ crew.name }}
                          </p>
                        }

                        @if (crew.isActive) {
                          <div class="buttons">
                            <button class="btn b-ln-height btn-primary btn-square" [ngbTooltip]="'Edit'"
                                    (click)="getCrewInfo(crew)">
                              @if (crew.editLoading) {
                                <app-feather-icon [class]="'w-10 h-10 text-white spin'"
                                                  [icon]="'loader'"></app-feather-icon>
                              } @else {
                                <app-feather-icon [class]="'w-10 h-10'" [icon]="'edit'"></app-feather-icon>
                              }
                            </button>

                            <div class="btn-group" ngbDropdown [placement]="'bottom-right'">
                              <button class="btn b-ln-height btn-info btn-square" style="width: 36px;"
                                      ngbDropdownToggle>
                                @if (crew.loading) {
                                  <app-feather-icon [class]="'w-10 h-10 text-white spin'"
                                                    [icon]="'loader'"></app-feather-icon>
                                } @else {
                                  <app-feather-icon [class]="'w-10 h-10'" [icon]="'settings'"></app-feather-icon>
                                }
                              </button>
                              <ul class="dropdown-menu" ngbDropdownMenu>
                                @for (menu of menu(); track menu) {
                                  <li (click)="menuAction(menu, crew)">
                                    <a class="dropdown-item" style="display:flex; align-items: center"
                                       href="javascript:void(0)" ngbDropdownItem>
                                      <i class="{{menu.icon}} {{menu.color}} me-2"></i>
                                      {{ menu.text }}
                                    </a>
                                  </li>
                                }
                              </ul>
                            </div>
                          </div>
                        }
                      </li>
                    }
                  </ol>
                }
                <div class="m-t-15">
                  @if (schedule.notificationCount > 0 && !schedule.notificationsLoader) {
                    @if (schedule.showNotifications) {
                      <div class="d-flex justify-content-between">
                        <ul class="common-flex gap-2">
                          @for (notification of schedule.notifications; track notification.status + $index) {
                            <li
                              class="
                              bg-{{getNotificationStatusClass(notification.status)?.bg}}
                              border-{{getNotificationStatusClass(notification.status)?.border}}
                              dashed border-1 rounded p-y-1 p-x-3">
                              <p
                                class="f-10 p-0 m-0 truncate-100 text-{{getNotificationStatusClass(notification.status)?.color}}">
                                {{ notification.name }}
                              </p>
                            </li>
                          }
                        </ul>
                        <button type="button" class="btn-close py-0"
                                (click)="schedule.showNotifications = false"></button>
                      </div>
                    } @else {
                      <div class="notification-box w-fit position-relative pointer"
                           (click)="getNotifications(schedule)">
                        <i class="fa-solid fa-bell text-info f-20" style="animation: swing 1.5s ease infinite"></i>
                        <span
                          class="badge p-t-0 p-b-0 min-w-15 min-h-15 p-l-2 p-r-2 rounded-pill badge-danger position-absolute"
                          style="top: -7px; left: 8px; line-height: 15px">
                      {{ schedule.notificationCount }}
                    </span>
                      </div>
                    }
                  } @else if (schedule.notificationsLoader && schedule.jobPartId === selectedSchedule.jobPartId) {
                    <app-feather-icon [class]="'w-17 h-17 text-white spin'" [icon]="'loader'"></app-feather-icon>
                  }
                </div>
              </div>
            </div>

            <div class="main-divider">
              <div class="divider-body divider-body-1 divider-primary">
                <div class="divider-p-primary" style="padding: 0;">
                  <i class="fa-solid fa-comments me-2 txt-primary f-14"></i>
                  <span class="txt-primary">Comments</span>
                </div>
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col-sm-5">
                <label class="form-label justify-content-between common-flex f-12">
                  Job Part Comments:
                  @if (schedule.notes || schedule.editComment) {
                    <span class="pointer">
                      @if (jobNoteLoader && selectedSchedule && selectedSchedule.jobPartId === schedule.jobPartId) {
                        <i class="fas fa-spin fa-spinner me-2 text-success f-16"></i>
                      } @else {
                        @if (!schedule.editComment) {
                          <i (click)="edit(schedule, 'comment')" class="fas fa-pencil-alt me-2 text-primary f-16"></i>
                        } @else {
                          <i (click)="saveNote(schedule, 'comment')"
                             class="fa-solid fa-check me-2 text-success f-16"></i>
                        }
                      }
                      </span>
                  } @else {
                    <span class="pointer"><i (click)="edit(schedule, 'comment')"
                                             class="fa-solid fa-plus me-2 text-success f-16"></i></span>
                  }
                </label>
                @if (schedule.notes || schedule.editComment) {
                  <textarea [(ngModel)]="schedule.notes" rows="4"
                            [readonly]="!schedule.editComment"
                            class="form-control btn-square hide-scrollbar text-warning">
                    </textarea>
                }
              </div>

              <div class="col-sm-5">
                <label class="form-label justify-content-between common-flex f-12">
                  Crew Notes:
                  @if (schedule.crewNotes || schedule.editCrewNote) {
                    <span class="pointer">
                      @if (crewNoteLoader && selectedSchedule && selectedSchedule.jobPartId === schedule.jobPartId) {
                        <i class="fas fa-spin fa-spinner me-2 text-success f-16"></i>
                      } @else {
                        @if (!schedule.editCrewNote) {
                          <i (click)="edit(schedule, 'crewNote')" class="fas fa-pencil-alt me-2 text-primary f-16"></i>
                        } @else {
                          <i (click)="saveNote(schedule, 'crewNote')"
                             class="fa-solid fa-check me-2 text-success f-16"></i>
                        }
                      }
                      </span>
                  } @else {
                    <span class="pointer"><i (click)="edit(schedule, 'crewNote')"
                                             class="fa-solid fa-plus me-2 text-success f-16"></i></span>
                  }
                </label>
                @if (schedule.crewNotes || schedule.editCrewNote) {
                  <textarea [(ngModel)]="schedule.crewNotes" rows="4"
                            [readonly]="!schedule.editCrewNote"
                            class="form-control btn-square hide-scrollbar text-warning">
                    </textarea>
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="open-crew-panel pointer" (click)="openCrewsPanel(null, $event, schedule)">
        <i class="fas fa-list f-14 z-3"></i>
      </div>

      <button type="button"
              (click)="updateShift(schedule)"
              class="btn btn-primary action-button w-30 h-30 p-0">
        <i class="fa-solid fa-rotate-right"></i>
      </button>

      <button type="button"
              [ngbTooltip]="(schedule.lastModified | date) + schedule.editedBy"
              class="btn btn-info action-button left w-30 h-30 p-0">
        <i class="fa-solid fa-info text-light"></i>
      </button>
    </div>
  }
}

<!--Crew Edit-->
<ng-template #editModal let-editModal>
  <app-edit [crewInfo]="crewInfo()"
            [scheduleInfo]="selectedSchedule"
            (closeModal)="editModal.close()"
            (finish)="editModal.close()">
  </app-edit>
</ng-template>

<!--Set Vehicle or send SMS-->
<ng-template #vehicleModal let-vehicleModal>
  <app-vehicles (closeModal)="closeVehiclePopup(vehicleModal, $event)"
                [scheduleInfo]="selectedSchedule"
                [hideVehicles]="hideVehicles"
                (selectVehicle)="onVehicleSelect($event)"
                [vehicles]="vehiclesInfo()">
  </app-vehicles>
</ng-template>

<!--Send SMS-->
<ng-template #sendSmsModal let-sendSmsModal>
  <app-send-sms (closeModal)="sendSmsModal.close()"
                [smsInfo]="smsInfo()"
                [scheduleInfo]="selectedSchedule">
  </app-send-sms>
</ng-template>


<ng-template #shiftCrewDetailsRef>
  <table class="table border-bottom-table max-w-700" style="width: 70dvw;">
    <tbody>
      @for (item of shiftCrewDetails() | filter:  [
        { field: 'status', condition: 'greaterThan', value: 0 }
      ]; track item.startdate + item.startTime + $index) {
        <tr class="border-bottom-secondary">
          <td class="p-2 p-x-5 f-12 text-body-secondary">{{ item.roleName }}</td>
          <td class="p-2 p-x-5 f-12">{{ item.startdate }} {{ item.startTime }}</td>
          <td class="p-2 p-x-5 f-12">{{ item.endDate }} {{ item.endTime }}</td>
          <td class="p-2 p-x-5 f-12">{{ item.client }}</td>
          <td class="p-2 p-x-5 f-12">{{ item.altVenue }}</td>
          <td class="p-2 p-x-5 f-10 text-nowrap">{{ item.extraHours }}eh</td>
          <td class="text-nowrap p-2 p-x-5 f-12">Sk: £{{ item.skilledCost }}</td>
          <td class="text-nowrap p-2 p-x-5 f-12">Bon: £{{ item.bonus }}</td>
        </tr>
      }
      @for (item of shiftCrewDetails() | filter: [
        { field: 'status', condition: 'lessThanOrEqual', value: 0 },
        { field: 'updateHistory', condition: 'isNotEmpty' }
      ]; track item.startdate + item.startTime + $index) {
        <tr class="border-bottom-secondary"
            [class.bg-light-secondary]="item.status === 0"
            [class.bg-info]="item.status === -1"
            [class.bg-success]="item.status === -2"
        >
          <td class="f-12" colspan="8">{{ item.updateHistory }}</td>
        </tr>
      }
    </tbody>
  </table>
</ng-template>
