.crew-wrapper {
  .grid {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px;

    .user-info {
      p {
        margin: 0 !important;
      }

      .back {
        transition: all .2s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
