<div class="crew-wrapper p-x-10 p-y-15">
  <div class="grid">
    <div class="flex flex-col ">
      <app-card>
        <div class="user-info">
          <div class="flex flex-col items-center p-12 gap-12">
            <i (click)="goBack()"
               class="position-absolute pointer back t-20 l-20 fa-solid fa-circle-chevron-left f-36 txt-primary"></i>

            <div class="avatar rounded-circle">
              @if (avatarLoading()) {
                <div class="w-180 h-180 rounded-md bg-gray-200 animate-pulse"></div>
              } @else {
                <div class="common-align rounded-circle">
                  <div>
                    @if (true) {
                      <img [src]="avatarUrl()" alt="Profile Image"/>
                    }
                    <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput hidden/>
                    @if (true) {
                      <div class="icon-wrapper" (click)="fileInput.click()">
                        <i class="icofont icofont-pencil-alt-5"></i>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>


            <div class="text-center">
              <p class="txt-dark f-18">{{ crewDetails()?.name }}</p>
              <p class="txt-secondary f-16">{{ crewDetails()?.levelText }}</p>
              <p class="txt-secondary f-16">{{ crewDetails()?.regionText }}</p>

              <div class="ttl-info  m-t-10">
                <h6>
                  <i class="fa-solid fa-calendar-days pe-2"></i>{{ crewDetails()?.doB | date }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </app-card>

      <app-card>
        <div class="skills">
          <ul class="list-group list-group-flush">
            @for (skill of skills(); track skill.name + skill.url) {
              <li class="list-group-item flex justify-content-between">
                <span>
                  <i class="{{ skill.url }}"></i>
                  {{ skill.name | titlecase }}
                </span>

                <div>
                  <input class="tgl tgl-flip" [id]="skill.name" type="checkbox" [(ngModel)]="skill.active">
                  <label class="tgl-btn m-0" data-tg-off="No" data-tg-on="Yes" [for]="skill.name"></label>
                </div>
              </li>
            }
          </ul>
        </div>
      </app-card>
    </div>

    <div class="content">
      <app-card>
        <ul class="nav nav-pills nav-primary" ngbNav #nav="ngbNav" [(activeId)]="activeTab">
          <li [ngbNavItem]="'profile'">
            <a class="nav-lin" ngbNavLink><i class="fa-solid fa-user"></i>Profile</a>
            <ng-template ngbNavContent>
              <app-crew-profile [crewDetail]="crewDetails()"
                                [loading]="profileLoading()"
                                (save)="saveCrewProfile($event)">
              </app-crew-profile>
            </ng-template>
          </li>
          <li [ngbNavItem]="'documents'">
            <a class="nav-link" ngbNavLink><i class="fa-solid fa-file-lines"></i>Documents</a>
            <ng-template ngbNavContent>
              <app-crew-documents [crewDetail]="crewDetails()"></app-crew-documents>
            </ng-template>
          </li>
          <li [ngbNavItem]="'feedback'">
            <a class="nav-link" ngbNavLink><i class="fa-solid fa-comment-dots"></i>Feedback</a>
            <ng-template ngbNavContent>
              <app-crew-feedback [crewDetail]="crewDetails()"></app-crew-feedback>
            </ng-template>
          </li>
          <li [ngbNavItem]="'holidays'">
            <a class="nav-link" ngbNavLink><i class="fa-solid fa-calendar-day"></i>Holidays</a>
            <ng-template ngbNavContent>
              <app-crew-holidays [crewDetail]="crewDetails()"></app-crew-holidays>
            </ng-template>
          </li>
          <li [ngbNavItem]="'notes'">
            <a class="nav-link" ngbNavLink><i class="fa-solid fa-note-sticky"></i>Notes</a>
            <ng-template ngbNavContent>
              <app-crew-notes [crewDetail]="crewDetails()"></app-crew-notes>
            </ng-template>
          </li>
          <li [ngbNavItem]="'deduction'">
            <a class="nav-link" ngbNavLink><i class="fa-solid fa-minus-circle"></i>Deductions</a>
            <ng-template ngbNavContent>
              <app-crew-deductions [crewDetail]="crewDetails()"></app-crew-deductions>
            </ng-template>
          </li>
          <li [ngbNavItem]="'timesheet'">
            <a class="nav-link" ngbNavLink><i class="fa-solid fa-clock"></i>Timesheets</a>
            <ng-template ngbNavContent>
              <app-crew-timesheets [crewDetail]="crewDetails()"></app-crew-timesheets>
            </ng-template>
          </li>
          <li [ngbNavItem]="'payments'">
            <a class="nav-link" ngbNavLink><i class="fa-solid fa-credit-card"></i>Payments</a>
            <ng-template ngbNavContent>
              <app-crew-payments [crewDetail]="crewDetails()"></app-crew-payments>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </app-card>
    </div>
  </div>
</div>
