<app-card [headerTitle]="'Change Password'" [border]="true" [padding]="false" [cardBodyClass]="'dark-timeline'">
  <div class="flex items-center justify-content-center flex-col horizontal-login">
    <form class="needs-validation custom-input w-500" [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">Current Password</label>
        <input class="form-control" id="exampleInputEmail1" type="password" formControlName="currentPassword"
               [ngClass]="{ 'is-invalid' : form.controls['currentPassword'].touched &&
          form.controls['currentPassword'].errors?.['required'] , 'is-valid' : form.controls['currentPassword'].valid}">
        @if (form.controls['currentPassword'].touched && form.controls['currentPassword'].errors?.['required']) {
          <div class="invalid-feedback">Please provide a valid current password.</div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label" for="validatepwd">New Password</label>
        <input class="form-control" id="validatepwd" type="password"
               formControlName="newPassword" (input)="checkStrength()"
               [ngClass]="{ 'is-invalid' : form.controls['newPassword'].touched &&
          form.controls['newPassword'].errors?.['required'] , 'is-valid' : form.controls['newPassword'].valid}">
        <div class="progress">
          <div class="progress-bar" [ngClass]="strengthClass" [style.width.%]="strengthPercent"></div>
        </div>
        <ul class="pwd-strength">
          <li>
            <span class="low-upper-case"><i class="fas"
                                            [ngClass]="passwordValid.lowerUpper ? 'fa-check' : 'fa-circle'"></i>&nbsp;Lowercase &amp; Uppercase</span>
          </li>
          <li>
            <span class="one-number"><i class="fas" [ngClass]="passwordValid.number ? 'fa-check' : 'fa-circle'"></i>&nbsp;Number (0-9)</span>
          </li>
          <li>
            <span class="one-special-char"><i class="fas"
                                              [ngClass]="passwordValid.special ? 'fa-check' : 'fa-circle'"></i>&nbsp;Special Character (!&#64;#$%^&amp;*)</span>
          </li>
          <li>
            <span class="eight-character"><i class="fas"
                                             [ngClass]="passwordValid.length ? 'fa-check' : 'fa-circle'"></i>&nbsp;Atleast 8 Character</span>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="confirmPassword">Confirm Password</label>
        <input class="form-control" id="confirmPassword" type="password" formControlName="confirmPassword"
               [ngClass]="{ 'is-invalid' : form.controls['confirmPassword'].touched &&
          form.controls['confirmPassword'].errors?.['mustMatch'] , 'is-valid' : form.controls['confirmPassword'].valid}">
        @if (form.controls['confirmPassword'].touched && form.controls['confirmPassword'].errors?.['mustMatch']) {
          <div class="invalid-feedback"> Passwords do not match</div>
        }
      </div>

      <button class="btn btn-primary d-block ms-auto w-500"
              [disabled]="form.invalid || !passwordValid.length || !passwordValid.lowerUpper || !passwordValid.special || !passwordValid.number"
              type="submit">
        Change
        @if (loader) {
          <i class="fa-circle-notch fa-solid fa-spin"></i>
        }
      </button>
    </form>
  </div>
</app-card>
