<app-card [headerTitle]="'Change Password'" [border]="true" [padding]="false" [cardBodyClass]="'dark-timeline'">
  <div class="flex items-center justify-content-center flex-col horizontal-login">
    <form class="needs-validation custom-input w-400" id="horizontal-login" novalidate="" [formGroup]="form"
          (ngSubmit)="submit()">
      <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">Email Address</label>
        <input class="form-control" id="exampleInputEmail1" type="password" autocomplete="off"
               placeholder="Enter your currentPassword" formControlName="currentPassword"
               [ngClass]="{ 'is-invalid' : form.controls['currentPassword'].touched &&
          form.controls['currentPassword'].errors?.['required'] , 'is-valid' : form.controls['currentPassword'].valid}">
        @if (form.controls['currentPassword'].valid) {
          <div class="valid-feedback">Looks's Good!</div>
        } @else if (form.controls['currentPassword'].touched && form.controls['currentPassword'].errors?.['required']) {
          <div class="invalid-feedback">Please provide a valid currentPassword.</div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label" for="validatepwd">Password</label>
        <input class="form-control" id="validatepwd" type="password" placeholder="Enter your password"
               formControlName="newPassword" (input)="checkStrength()">
        <div class="progress">
          <div class="progress-bar"
               [ngClass]="strengthClass"
               [style.width.%]="strengthPercent">
          </div>
        </div>
        <ul class="pwd-strength">
          <li><span class="low-upper-case">
            <i class="fas" [ngClass]="passwordValid.lowerUpper ? 'fa-check' : 'fa-circle'"></i>&nbsp;Lowercase &amp; Uppercase</span>
          </li>
          <li>
            <span class="one-number"><i class="fas" [ngClass]="passwordValid.number ? 'fa-check' : 'fa-circle'"></i>&nbsp;Number (0-9)</span>
          </li>
          <li>
            <span class="one-special-char"><i class="fas"
                                              [ngClass]="passwordValid.special ? 'fa-check' : 'fa-circle'"></i>&nbsp;Special Character (!&#64;#$%^&amp;*)</span>
          </li>
          <li>
            <span class="eight-character"><i class="fas"
                                             [ngClass]="passwordValid.length ? 'fa-check' : 'fa-circle'"></i>&nbsp;Atleast 8 Character</span>
          </li>
        </ul>
      </div>
      <button class="btn btn-primary d-block ms-auto w-400"
              [disabled]="form.invalid || !passwordValid.length || !passwordValid.lowerUpper || !passwordValid.special || !passwordValid.number"
              type="submit"
              [class.loading]="loader">
        Change
      </button>
    </form>
  </div>
</app-card>
