<div class="offcanvas-header p-0 p-t-10">
  <button class="btn-close" type="button" (click)="closeOffcanvas()"></button>
</div>

<form>
  <div class="flex-column row g-3 m-b-20 ">
    <ul class="list-group w-100 align-items-center flex-row">
      @for (region of regions; track region.title) {
        <li class="p-10">
          <input class="form-check-input me-1 checkbox-{{ region.class }}"
                 type="checkbox"
                 [(ngModel)]="region.checked" [name]="region.title">
          <label class="form-check-label txt-{{ region.class }} mb-0">{{ region.title }}</label>
        </li>
      }
    </ul>

    <ul class="list-group w-100 align-items-center flex-row">
      @for (lvl of levels; track lvl.title) {
        <li class="p-10">
          <input class="form-check-input me-1 checkbox-{{ lvl.class }}" type="checkbox"
                 [(ngModel)]="lvl.checked" [name]="lvl.title">
          <label class="form-check-label txt-{{ lvl.class }} mb-0">{{ lvl.title }}</label>
        </li>
      }
    </ul>
  </div>

  <app-card>
    <div style="padding: 0 12px">
      <div class="common-flex justify-content-between align-items-center">
        <ng-template #popoverContentAll>
          <ul class="list-group">
            <li class="list-group-item border-bottom pointer">
              <i class="fa-solid rounded fa-phone-square"></i>
              Whatsapp
            </li>
            <li class="list-group-item border-bottom pointer">
              <i class="fa-solid fa-envelope"></i>
              Sms
            </li>
          </ul>
        </ng-template>

        <label class="form-check-label txt-warring mb-0">
          <input class="form-check-input me-1 checkbox-warring" name="selectAll"
                 type="checkbox" [(ngModel)]="allAreSelected" (change)="selectAll()">
          All
        </label>

        <div class="common-flex align-items-center">
          <div class="btn-group m-r-10" role="group">
            <button class="btn button-light-success dropdown-toggle"
                    [disabled]="showLimitError"
                    type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" (click)="showBtnOptions = !showBtnOptions">
              @if (loading) {
                <i class="fas fa-spin m-r-10 fa-spinner me-2 text-success f-16"></i>
              }
              Save
            </button>
            <ul class="dropdown-menu" [class.show]="showBtnOptions">
              <li>
                <a class="dropdown-item" href="javascript:void(0)" (click)="saveCrew('current')">Save Current</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)" (click)="saveCrew('all')">Save</a>
              </li>
            </ul>
          </div>
          <i class="fa-solid rounded fa-phone-square text-success pointer f-20"
             [ngbPopover]="popoverContentAll"
             [popoverTitle]="'Contact'"
          ></i>
        </div>
      </div>
    </div>
  </app-card>

  <ul class="list-group justify-content-between overflow-y-auto custom-scrollbar" style="max-height: 70dvh">
    @for (crew of crewList | crewFilter:getSelectedData('regions'):getSelectedData('levels'); track crew.crewId) {
      <li class="common-flex justify-content-between align-items-center list-group-item border-bottom">
        @if (crew.jobNotes) {
          <i class="fa-solid fa-tag position-absolute" style="left: 4px; top: 4px" [ngbTooltip]="crew.jobNotes"></i>
        }
        <div>
          <a href="javascript:void(0)" class="badge badge-primary rounded-circle badge-p-space m-r-10">1</a>
          <span class="m-r-10">({{ crew.levelShortText }})</span>

          <label class="form-check-label txt-warring mb-0" [for]="crew.crewId">
            <input class="form-check-input me-1 checkbox-warring" [id]="crew.crewId"
                   type="checkbox" (change)="crewSelect(crew)"
                   [checked]="crew.isChecked">
            {{ crew.name }}
          </label>
        </div>

        <div class="common-flex align-items-center gap-1">
          <ng-template #popoverContent>
            <ul class="list-group">
              <li class="list-group-item border-bottom pointer">
                <i class="fa-solid rounded fa-phone-square"></i>
                WhatsApp
              </li>
              <li class="list-group-item border-bottom pointer">
                <i class="fa-solid fa-envelope"></i>
                Sms
              </li>
            </ul>
          </ng-template>

          <span class="badge badge-info rounded-pill">{{ crew.skills }}</span>

          @if (!crew.isFulltime) {
            <a href="javascript:void(0)" class="badge badge-warning rounded-circle badge-p-space m-r-10">PT</a>
          }
          <i class="fa-solid rounded fa-phone-square text-success pointer f-20"
             [ngbPopover]="popoverContent"
             [popoverTitle]="'Contact'"
          ></i>
        </div>
      </li>
    }
  </ul>
</form>

@if (showLimitError) {
  <h6 class="text-danger m-t-20 shake text-center w-100">
    The maximum number of crews must be {{ selectedSchedule?.crewNumber }}
  </h6>
}

