<div class="div" (click)="$event.stopPropagation()">
  <div class="offcanvas-header p-y-10 p-x-0 gap-12 align-items-start">
    <div class="max-w-465">
      <p class="f-14 m-0 txt-primary">
        {{ selectedSchedule?.startDate |  date: 'dd MMM yyy':'': 'en' }},
        {{ selectedSchedule?.startDate | date: 'HH:mm' }} -  {{ selectedSchedule?.endDate | date: 'HH:mm' }}
        (Cr: {{ selectedSchedule?.crewNumber }},
        Hrs: {{ hoursDifference(selectedSchedule?.startDate, selectedSchedule?.endDate) }} )
      </p>
      <p class="f-14 m-0 txt-primary">
        @if (selectedSchedule.companyName) {
          {{ selectedSchedule.companyName }} <span class="text-dark">|</span>
        }
        @if (selectedSchedule.venueName) {
          {{ selectedSchedule.venueName }}
        }
      </p>

    </div>

    <button class="btn-close" type="button" (click)="closeOffcanvas()"></button>
  </div>

  <form>
    <div class="flex-column row m-b-20 ">
      <ul class="list-group w-100 align-items-center flex-row">
        @for (region of regions; track region.title + $index) {
          <li class="p-y-0 p-x-5">
            <input class="form-check-input me-1 checkbox-{{ region.class }}"
                   type="checkbox"
                   [(ngModel)]="region.checked" [name]="region.title">
            <label class="form-check-label txt-{{ region.class }} mb-0">{{ region.title }}</label>
          </li>
        }
      </ul>

      <ul class="list-group w-100 align-items-center flex-row">
        @for (lvl of levels; track lvl.title + $index) {
          <li class="p-y-0 p-x-5">
            <input class="form-check-input me-1 checkbox-{{ lvl.class }}" type="checkbox"
                   [(ngModel)]="lvl.checked" [name]="lvl.title">
            <label class="form-check-label txt-{{ lvl.class }} mb-0">{{ lvl.title }}</label>
          </li>
        }
      </ul>
    </div>

    <app-card [cardBodyClass]="'p-y-10 p-r-10'">
      <div [class.h-100-i]="jobPartClashing?.length">
        @if (jobPartClashing?.length > 0) {
          <div class="table-responsive custom-scrollbar">
            <table class="table border-bottom-table">
              <thead>
              <tr class="border-bottom-primary">
                <th scope="col">
                  <input
                    class="form-check-input me-1 checkbox-primary"
                    type="checkbox"
                    [checked]="isAllSelected()"
                    [indeterminate]="isIndeterminate()"
                    (change)="selectAllClashing()">
                </th>
                <th scope="col">Start</th>
                <th scope="col">Time</th>
                <th scope="col">Hours</th>
                <th scope="col">Crew</th>
              </tr>
              </thead>
              <tbody>
                @for (item of jobPartClashing; track item.jobPartId + item.startDate) {
                  <tr class="border-bottom-secondary">
                    <th scope="row">
                      <input class="form-check-input me-1 checkbox-primary" type="checkbox"
                             [(ngModel)]="item.checked" [name]="item.jobPartId + ''" (change)="jobPartSelect()">
                    </th>
                    <td>{{ item.startDate | date: 'dd MMM yyy' }}</td>
                    <td>{{ item.startDate | date: 'HH:mm' }}</td>
                    <td>{{ item.hours }}</td>
                    <td>{{ item.bookedCrew }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        } @else {
          <div class="common-flex align-items-center justify-content-end">
            <button class="btn p-x-33 btn-outline-info position-relative" (click)="getCrewClashing()">
              @if (crewClashingLoader) {
                <i class="position-absolute fas fa-spin fa-spinner text-dark f-16"
                   style="left: 7px; top: 7px;"
                ></i>
              }
              Crew Manager
            </button>
          </div>
        }
      </div>
    </app-card>

    <app-card [cardBodyClass]="'p-y-10 p-r-10'">
      <div class="p-l-14 p-r-10">
        <div class="common-flex justify-content-between align-items-center">
          <ng-template #popoverContentAll>
            <ul class="list-group">
              <li class="list-group-item border-bottom pointer text-success" (click)="sendNotification()">
                <i class="fa-solid rounded fa-phone-square"></i>
                WhatsApp
              </li>
              <li class="list-group-item border-bottom pointer text-danger" (click)="removeNotification()">
                <i class="fa-solid fa-close"></i>
                Remove
              </li>
            </ul>
          </ng-template>

          <label class="form-check-label txt-warring mb-0">
            <input class="form-check-input me-1 checkbox-warring" name="selectAll"
                   type="checkbox" [(ngModel)]="allAreSelected" (change)="selectAll()">
            All
          </label>

          <div class="common-flex align-items-center g-5">
            <div class="btn-group" ngbDropdown>
              <button class="btn p-y-0 p-x-33 btn-outline-info position-relative" (click)="saveCrew('current')">
                @if (loading) {
                  <i class="position-absolute fas fa-spin fa-spinner text-dark f-16"
                     style="left: 7px; top: 7px;"
                  ></i>
                }
                Save
              </button>
              <div class="dropdown separated-btn">
                <button class="btn btn-info dropdown-toggle-split rounded-0 rounded-end p-x-10 dropdown-button"
                        ngbDropdownToggle>
                  <i class="icofont icofont-arrow-down"></i>
                </button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                  @for (item of [ 'Save All Future Parts' ]; track item) {
                    <li class="dropdown-item" ngbDropdownItem>
                      <a href="javascript:void(0)" (click)="saveCrew('all')">{{ item }}</a>
                    </li>
                  }
                </ul>
              </div>
            </div>

            <div class="flex items-center gap-11">
              @if (notificationsLoader) {
                <i class="fas fa-spin fa-spinner f-12"></i>
              } @else {
                <i class="fa-solid rounded fa-phone-square text-success pointer"
                   [ngbPopover]="popoverContentAll"
                   [popoverClass]="'bg-dark'"
                   [popoverTitle]="'Contact'"
                ></i>
              }

              <label class="form-check-label m-0 txt-warring flex flex-col justify-content-center">
                <input class="form-check-input m-0 checkbox-success"
                       type="checkbox"
                       name="selectAllForSMS"
                       (change)="selectAllForSMS()"
                       [(ngModel)]="allAreSelectedForSMS">
              </label>
            </div>
          </div>
        </div>
      </div>
    </app-card>

    @if (listLoading$ | async) {
      Loading...
    } @else {
      <ul class="list-group justify-content-between overflow-y-auto custom-scrollbar"
          style="max-height: calc(100dvh - 440px)">
        @for (crew of crewList | crewFilter:getSelectedData('regions'):getSelectedData('levels'):getSelectedData('jobParts'); track crew.crewId + $index * 0.1) {
          <li class="common-flex justify-content-between align-items-center list-group-item border-bottom p-x-10 p-y-3">
            @if (crew.jobNotes) {
              <i class="fa-solid fa-tag position-absolute" style="left:0; top: -3px" [ngbTooltip]="crew.jobNotes"></i>
            }
            <div class="common-flex align-items-center">

              <div class="w-15 h-15 flex items-center justify-content-center"
                   (click)="getCrewDetails(crew, popoverRef)"
                   #popoverRef="ngbPopover"
                   triggers="manual"
                   [popperOptions]=""
                   [popoverClass]="'wide-popover border border-2 bg-dark'"
                   [ngbPopover]="crewDetailsRef"
                   [popoverTitle]="crew.name + '' + ' - ' + (selectedSchedule.startDate | date: 'dd MMM')">
                @if (crewManagerLoader || crew.detailsLoading) {
                  <i class="fas fa-spin fa-spinner f-15 m-0 m-r-10"></i>
                } @else {
                  <p class="badge pointer h-15 min-w-15 w-15 text-center rounded-circle p-0 m-0 m-r-10"
                     [ngClass]="getBadgeClass(crew)"
                     style="line-height: 15px;">
                    @if (crew.holiday > 0) {
                      <span [ngbTooltip]="'Holiday'">H</span>
                    } @else if (crew.struckOut > 0) {
                      <span class="d-inline-block w-100 h-100" [ngbTooltip]="'Struck Out'"></span>
                    } @else if (crew.turnedDown > 0) {
                      <span class="d-inline-block w-100 h-100" [ngbTooltip]="'Turned Down'"></span>
                    } @else {
                      {{ crew.crewHours }}
                    }
                  </p>
                }
              </div>

              @if (crewClashingLoader) {
                <span class="min-w-40"><i class="fas fa-spin fa-spinner text-warning f-15 m-0"></i></span>
              } @else {
                @if (jobPartClashing.length) {
                  <span class="text-warning min-w-40">
                    {{ jobPartClashing.length }}/{{ crew.notClashingInfo?.unassignedCrewCount }}
                  </span>
                }
              }

              <label class="form-check-label txt-warring mb-0" [for]="crew.crewId">
                <input class="form-check-input me-1 checkbox-warring" [id]="crew.crewId"
                       type="checkbox" (change)="crewSelect(crew)"
                       [checked]="crew.isChecked">
                {{ crew.name }}
                <span class="m-l-10">({{ crew.levelShortText }})</span>
              </label>

            </div>

            <div class="common-flex align-items-center gap-1">
              <ng-template #popoverContent>
                <ul class="list-group">
                  <li class="list-group-item border-bottom pointer text-success" (click)="sendNotification(crew)">
                    <i class="fa-solid rounded fa-phone-square"></i>
                    WhatsApp
                  </li>
                  <li class="list-group-item border-bottom pointer text-danger" (click)="removeNotification(crew)">
                    <i class="fa-solid fa-close"></i>
                    Remove
                  </li>
                </ul>
              </ng-template>

              <span class="badge badge-info rounded-pill">{{ crew.skills }}</span>

              @if (!crew.isFulltime) {
                <a href="javascript:void(0)" class="badge badge-warning rounded-circle badge-p-space m-l-10">PT</a>
              }

              @if (crew.notificationLoading) {
                <i class="fas fa-spin fa-spinner f-12 m-l-10"></i>
              } @else {
                <i class="fa-solid rounded fa-phone-square text-success pointer m-l-10"
                   [ngbPopover]="popoverContent"
                   [popoverClass]="'bg-dark'"
                   [popoverTitle]="'Contact'"
                ></i>
              }

              <label class="form-check-label txt-warring mb-0" [ngbTooltip]="crew.notificationStatusText">
                <input class="form-check-input me-1 checkbox-success"
                       [ngStyle]="{ backgroundColor: crew.cssColour, borderColor: crew.cssColour }"
                       type="checkbox" (change)="selectCrewForSMS(crew)"
                       [checked]="crew.isCheckedForSMS">
              </label>

            </div>
          </li>
        }
      </ul>
    }
  </form>

  @if (showLimitError) {
    <h6 class="text-danger m-t-20 shake text-center w-100">
      The maximum number of crew must be {{ selectedSchedule?.crewNumber }}
    </h6>
  }
</div>

<ng-template #crewDetailsRef>
  <div class="max-h-350 overflow-y-auto">
    <table class="table border-bottom-table max-w-400">
      <tbody>
        @for (item of shiftCrewDetails() | filter:  [
          { field: 'status', condition: 'greaterThan', value: 0 }
        ]; track item.startdate + item.startTime + $index) {
          <tr class="border-bottom-secondary"
              [class.border-2]="item.jobPartId === selectedSchedule.jobPartId"
              [class.border-danger]="item.jobPartId === selectedSchedule.jobPartId"
          >
            <td class="p-2 p-x-5 f-12">{{ item.roleName }}</td>
            <td class="p-2 p-x-5 f-12">{{ item.startdate }} {{ item.startTime }}</td>
            <td class="p-2 p-x-5 f-12">{{ item.endDate }} {{ item.endTime }}</td>
            <td class="p-2 p-x-5 f-12">{{ item.client }}{{ item.altVenue }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</ng-template>
