.dropdown-button {
  width: 36px !important;

  &:after {
    content: none !important;
  }
}

.table-responsive {
  height: 100px;
  overflow-y: auto;

  th, td {
    padding: 1px !important;
  }
}

ul.custom-scrollbar {
  li:nth-child(odd) {
    background: var(--light-background);
  }
}

