.tgl-flip + .tgl-btn:before {
  line-height: 38px !important;
  background: var(--fc-button-bg-color);
}

.tgl-flip + .tgl-btn:after {
  line-height: 38px !important;
}

.tgl-flip + .tgl-btn {
  width: 100px;
}

