<form class="p-t-30 flex flex-col gap-12" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row g-3">
    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Crew Name</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="name">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-address-card txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Contact Number</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="phoneNumber">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-phone txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Email</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="email">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-envelope txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">App Login</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="login">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-right-to-bracket txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Password</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="password">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-lock txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Deactivation Date</label>
      <input class="form-control digits" type="date" formControlName="deactivationDate">
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Loyalty Bonus</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="loyaltyBonus">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-coins txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Job Notes</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="jobNotes">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-pen-to-square txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Start Date</label>
      <input class="form-control digits" type="date" formControlName="startDate">
    </div>

    <div class="col col-md-8">
      <label class="form-label">Address</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="address">
        <span class="input-group-text bg-light-secondary">
          <i class="fa-solid fa-map-pin txt-secondary"></i>
        </span>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4">
      <label class="form-label">Postal Code</label>
      <div class="input-group">
        <input class="form-control" type="text" formControlName="postcode">
        <span class="input-group-text bg-light-secondary">
        <i class="fa-solid fa-location-dot txt-secondary"></i>
      </span>
      </div>
    </div>

    <div class="col flex justify-content-end gap-12">
      <div class="h-38">
        <input class="tgl tgl-flip h-100 l-h-38" [id]="1" type="checkbox" formControlName="isFulltime">
        <label class="tgl-btn m-0 h-100 l-h-38" data-tg-off="Full-time" data-tg-on="Part-time" [for]="1"></label>
      </div>

      <div class="h-38">
        <input class="tgl tgl-flip h-100 l-h-38" [id]="12" type="checkbox" formControlName="isActive">
        <label class="tgl-btn m-0 h-100 l-h-38" data-tg-off="Inactive" data-tg-on="Active" [for]="12"></label>
      </div>
    </div>
  </div>

  <div class="main-divider m-y-12">
    <div class="divider-body divider-body-1 divider-secondary">
      <div class="divider-p-secondary p-0"></div>
    </div>
  </div>

  <div class="row g-3">
    <div class="col col-sm-6 col-md-3">
      <label class="form-label" for="exampleFormControlSelect17">Region</label>
      <select2 [data]="dropdowns()?.region" [templates]="template" formControlName="regionId">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>

    <div class="col col-sm-6 col-md-3">
      <label class="form-label" for="exampleFormControlSelect17">Level</label>
      <select2 [data]="dropdowns()?.level" [templates]="template" formControlName="levelId">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>

    <div class="col col-sm-6 col-md-3">
      <label class="form-label" for="exampleFormControlSelect17">Group</label>
      <select2 [data]="dropdowns()?.groups" [templates]="template" formControlName="groupId">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>

    <div class="col col-sm-6 col-md-3">
      <label class="form-label" for="exampleFormControlSelect17">Autoassign</label>
      <select2 [data]="dropdowns()?.classification" [templates]="template" formControlName="classificationId">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>

    <div class="col col-sm-6 col-md-3">
      <label class="form-label" for="exampleFormControlSelect17">Pay Method</label>
      <select2 [data]="dropdowns()?.payMethod" [templates]="template" formControlName="paymentOptionId">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>

    <div class="col col-sm-6 col-md-3">
      <label class="form-label" for="exampleFormControlSelect17">PLI Cover</label>
      <select2 [data]="dropdowns()?.pLiCover" [templates]="template" formControlName="pliCoverId">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>

    <div class="col col-sm-6 col-md-3">
      <label class="form-label" for="exampleFormControlSelect17">Checks</label>
      <select2 [data]="dropdowns()?.checks" [templates]="template" formControlName="checksId">
        <ng-template #template let-item="label">
          {{ item }}
        </ng-template>
      </select2>
    </div>

    <div class="col col-sm-6 col-md-3 h-3">
      <label class="form-label">PLI Expiry</label>
      <input class="form-control digits" type="date" formControlName="pliExpiry">
    </div>

    <div class="col-9">
      <label class="form-label" for="formFileSimple">Default File Input Example</label>
      <input class="form-control px-4" id="formFileSimple" type="file">
    </div>

    <div class="col-3 d-flex flex-col justify-content-end align-items-end text-end p-t-15">
      <button class="w-110 btn btn-primary" type="submit">
        Save
        @if (loading()) {
          <i class="t-10 r-10 position-absolute fa-solid fa-circle-notch fa-spin"></i>
        }
      </button>
    </div>
  </div>
</form>
