.tgl-flip + .full-time:before {
  background: var(--fc-button-bg-color);
}

.tgl-flip + .full-time:after {
  background: #65c15c;
}

.tgl-flip + .tgl-btn:before {
  line-height: 38px !important;
}


.tgl-flip + .tgl-btn:after {
  line-height: 38px !important;
}

.tgl-flip + .tgl-btn {
  width: 100px;
}
.input-group-text {
  height: 36px;
}
