<div class="translate_wrapper" [ngClass]="active() ? 'active' : ''">
  @if (activeMenuItem) {
    <div class="common-flex flex-nowrap align-items-center h-20 m-0 pointer" (click)="toggleLanguage()">
      <div>
        <app-svg-icon [icon]="activeMenuItem?.icon" [class]="'h-15'" [change]="true"></app-svg-icon>
      </div>
      <p class="m-0 p-t-3">
        {{ activeMenuItem?.title | titlecase }}
      </p>
    </div>
  }

  <div class="more_lang" [ngClass]="active() ? 'active' : ''">
    @for (menuItem of menuItems; track menuItem.path + $index) {
      <div class="lang selected" (click)="selectMenuItem(menuItem)">
        <div class="m-r-10">
          @if (menuItem.icon) {
            <app-svg-icon [icon]="menuItem.icon" [change]="true"></app-svg-icon>
          }
        </div>
        @if (menuItem.type === 'extTabLink') {
          <a [href]="menuItem.path" target="_blank" class="sidebar-link sidebar-title link-nav">{{ menuItem.title }}</a>
        } @else {
          <a [routerLink]="menuItem.path" class="sidebar-link sidebar-title link-nav">{{ menuItem.title }}</a>
        }
      </div>
    }
  </div>
</div>
