<div class="p-x-10 p-y-15">
  <app-card [cardClass]="'bg-dark'">
    <app-jobs-filter></app-jobs-filter>
  </app-card>

  <div class="container-fluid p-0">
    <div class="row table-components default-datatable">
      <app-card [headerTitle]="'Jobs'"
                [headerBtnText]="'Add New Job'"
                (headerBtnAction)="addNewClient(addJob)"
                [cardBodyClass]="'common-option'">
        @if (loading()) {
          <div class="h-300 w-100 flex items-center justify-content-center">
            <p class="text-primary f-24">Loading...</p>
          </div>
        } @else {
          <div class="table-responsive custom-scrollbar">
            @if (tableConfig?.data?.length && !loading()) {
              <ng-template #jobIdCell let-details>
                <div class="job-id-cell" (click)="$event.stopPropagation()">
                  <span
                    class="job-id-overdue-indicator"
                    [style.background-color]="details.statusColour || '#c5c5c5'">
                  </span>
                  <div class="job-id-box" ngbDropdown container="body">
                    <span class="job-id-number">{{ details.jobId }}</span>
                    <button
                      type="button"
                      class="btn job-id-dropdown-toggle"
                      ngbDropdownToggle
                      [disabled]="updatingJobId() === details.jobId"
                      (click)="$event.stopPropagation()"
                    >
                      @if (updatingJobId() === details.jobId) {
                        <i class="fa-solid fa-spinner fa-spin"></i>
                      } @else {
                        <i class="fa-solid fa-chevron-down"></i>
                      }
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      @for (action of jobQuickActions; track action.label) {
                        <li>
                          <button
                            type="button"
                            class="dropdown-item"
                            ngbDropdownItem
                            (click)="onJobQuickAction($event, details, action)"
                          >
                            {{ action.label }}
                          </button>
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              </ng-template>

              <div class="flex flex-col gap-20 m-auto">
                <app-table [tableConfig]="tableConfig"
                           [columnTemplates]="{ jobId: jobIdCell }"
                           [search]="false"
                           [hover]="true"
                           [pageNo]="filterParams().page"
                           [totalCount]="totalCount()"
                           [pageSize]="filterParams().pageSize"
                           [hasCheckbox]="false"
                           [pagination]="true"
                           (rowClicked)="itemSelect($event)">
                </app-table>

                <div class="flex w-full justify-content-end">
                  <pagination-controls
                    (pageChange)="pageChanged($event)"
                    (pageBoundsCorrection)="pageChanged($event)"
                    [maxSize]="9"
                    [directionLinks]="true"
                    [responsive]="true">
                  </pagination-controls>
                </div>
              </div>
            } @else {
              <p class="text-primary f-20 text-center">No results to display</p>
            }
          </div>
        }
      </app-card>
    </div>
  </div>
</div>

<!--Add New Venue-->
<ng-template #addJob let-job>
  <app-card [headerTitle]="'Add New Job'">
    <app-add-job (finish)="goToCreatedClientDetails($event)"></app-add-job>
  </app-card>
</ng-template>

<ng-template #jobInvoiceEmail let-modal>
  @if (selectedJob(); as job) {
    <app-job-invoice-email
      [jobId]="job.jobId"
      (closeModal)="closeJobActionModal()"
    ></app-job-invoice-email>
  }
</ng-template>

<ng-template #jobReminderEmail let-modal>
  @if (selectedJob(); as job) {
    <app-job-reminder-email
      [jobId]="job.jobId"
      (closeModal)="closeJobActionModal()"
    ></app-job-reminder-email>
  }
</ng-template>

<ng-template #jobChaseupEmail let-modal>
  @if (selectedJob(); as job) {
    <app-job-chaseup-email
      [jobId]="job.jobId"
      (closeModal)="closeJobActionModal()"
    ></app-job-chaseup-email>
  }
</ng-template>

<ng-template #jobFinalChaseupEmail let-modal>
  @if (selectedJob(); as job) {
    <app-job-final-chaseup-email
      [jobId]="job.jobId"
      (closeModal)="closeJobActionModal()"
    ></app-job-final-chaseup-email>
  }
</ng-template>

<ng-template #jobPaymentReceivedEmail let-modal>
  @if (selectedJob(); as job) {
    <app-job-payment-received-email
      [jobId]="job.jobId"
      [companyName]="job.companyName"
      [venueName]="job.venueName"
      (closeModal)="closeJobActionModal()"
    ></app-job-payment-received-email>
  }
</ng-template>
