<div class="p-10 p-15">
  <form [formGroup]="form" class="row g-3 m-b-20">
    <div class="col-2">
      <select2 [data]="years()" formControlName="year" [templates]="template"
               placeholder="Select Year" [displaySearchStatus]="'hidden'">
        <ng-template #template let-category="label">
          {{ category }}
        </ng-template>
      </select2>
    </div>

    <div class="col-2">
      <select2 [data]="months()" formControlName="month" [templates]="template"
               placeholder="Select Month" [displaySearchStatus]="'hidden'">
        <ng-template #template let-category="label">
          {{ category }}
        </ng-template>
      </select2>
    </div>

    <div class="col-2">
      <button class="btn p-x-14 btn-primary"
              (click)="getTimesheets(crewDetail())"
              type="button">
        <i class="fa-solid fa-arrows-rotate"></i>
      </button>
    </div>
  </form>

  @if (loading()) {
    <div class="gap-15 flex-col flex">
      @for (it of [].constructor(10); track $index) {
        <div class="flex items-center gap-12">
          <div class="flex w-100 h-40 flex-col gap-12">
            <div class="col-md h-10 w-200 rounded-md bg-gray-200 animate-pulse"></div>
            <div class="col-md h-10 w-full rounded-md bg-gray-200 animate-pulse"></div>
          </div>
          <div class="flex w-90 h-10 flex-col gap-12">
            <div class="col-md rounded-md bg-gray-200 animate-pulse"></div>
          </div>
        </div>
      }
    </div>
  } @else {
    @if (tableConfig().data?.length) {
      <div class="timesheet-table-wrapper custom-scrollbar max-h-700"
           [style.--timesheet-min-width.px]="timesheetTableMinWidth">
      <ng-template #bookedHoursCell let-details>
        <span class="d-inline-flex align-items-center gap-6">
          {{ details.workHours }}
          @if (showBookedHoursInfo(details)) {
            <i class="fa-solid fa-circle-info f-12 txt-muted cursor-pointer"
               placement="top"
               [ngbTooltip]="getBookedHoursRateTooltip(details)"></i>
          }
        </span>
      </ng-template>

      <ng-template #extraHoursCell let-details>
        <span class="d-inline-flex align-items-center gap-6">
          {{ details.extraHours }}
          @if (showExtraHoursInfo(details)) {
            <i class="fa-solid fa-circle-info f-12 txt-muted cursor-pointer"
               placement="top"
               [ngbTooltip]="getExtraHoursRateTooltip(details)"></i>
          }
        </span>
      </ng-template>

      <ng-template #travelHoursCell let-details>
        <span class="d-inline-flex align-items-center gap-6">
          {{ details.travelHours }}
          @if (showTravelHoursInfo(details)) {
            <i class="fa-solid fa-circle-info f-12 txt-muted cursor-pointer"
               placement="top"
               [ngbTooltip]="getTravelHourRateTooltip(details)"></i>
          }
        </span>
      </ng-template>

      <ng-template #adjustmentCell let-details>
        <span class="d-inline-flex align-items-center gap-6">
          {{ getCurrency(details) }}{{ details.adjustment | number: '1.2-2' }}
          @if (showAdjustmentInfo(details)) {
            <i class="fa-solid fa-circle-info f-12 txt-muted cursor-pointer"
               placement="top"
               [ngbTooltip]="getAdjustmentTooltip(details)"></i>
          }
        </span>
      </ng-template>

      <app-table [tableConfig]="tableConfig()"
                 [tableClass]="'crew-timesheet-table'"
                 [disableScrollWrapper]="true"
                 [columnTemplates]="{
                   workHours: bookedHoursCell,
                   extraHours: extraHoursCell,
                   travelHours: travelHoursCell,
                   adjustment: adjustmentCell
                 }"
                 [search]="false"
                 [hover]="true"
                 [pagination]="false">
      </app-table>
      </div>
    }

    <button class="btn m-t-20 p-x-14 btn-primary"
            (click)="sendToEmail(crewDetail())"
            type="button">
      Email To: {{crewDetail()?.email}}
      @if (emailLoading()) {
        <i class="fa-solid fa-spinner fa-spin m-l-5"></i>
      } @else {
        <i class="fa-solid fa-envelope m-l-5"></i>
      }
    </button>
  }
</div>
