<div class="modal-content">
  <div class="modal-body social-profile text-start dark-sign-up">
    <div class="modal-toggle-wrapper">
      <form [formGroup]="form">
        <div class="common-flex justify-content-between align-items-center m-b-10">
          <h6 class="text-primary">
            ({{ crewInfo?.levelShortText }})
            {{ crewInfo?.name }},
            {{ crewInfo?.postcode }}
          </h6>

          <div class="common-flex align-items-center gap-3">
            <h2 class="text-success">Pay: £{{ crewInfo?.pay }}</h2>
            <button class="btn-close py-0 float-end" type="button" (click)="closeModal.emit(true)"></button>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-5">
            <div class="row g-3">
              <div class="col w-1-5 align-self-center">
                <label class="form-label">
                  Expenses
                  <input class="form-control" formControlName="expences" type="text">
                </label>
              </div>
              <div class="col w-1-5">
                <label class="form-label">
                  Extra Hours
                  <input class="form-control" formControlName="extraHours" type="text">
                </label>
              </div>
            </div>
            <div class="row g-3">
              <div class="col w-1-5">
                <label class="form-label">
                  Adjustment
                  <input class="form-control" formControlName="otherPaymentAdjustment" type="text">
                  <input class="form-control" formControlName="otherPaymentAdjustmentTxt" type="text"
                         placeholder="Adjustment text">
                </label>
              </div>
              <div class="col w-1-5">
                <label class="form-label">
                  Skills
                  <input class="form-control" formControlName="skilledCost" type="text">
                </label>
                <label class="form-label">
                  Last Minute Bonus
                  <input class="form-control" formControlName="lastMinuteBonus" type="text">
                </label>
              </div>
            </div>

            <div class="row g-3">
              <div class="col w-1-5">
                <label class="form-label w-100">
                  Status
                  <select2 [data]="statuses" formControlName="jobPartCrewStatusId" [templates]="template"
                           placeholder="Choose..">
                    <ng-template #template let-item="label">
                      {{ item }}
                    </ng-template>
                  </select2>
                </label>
              </div>
              <div class="col w-1-5">
                <label class="form-label w-100">
                  Role
                  <select2 [data]="roles" formControlName="jobPartCrewRoleId" [templates]="template"
                           placeholder="Choose..">
                    <ng-template #template let-item="label">
                      {{ item }}
                    </ng-template>
                  </select2>
                </label>
              </div>
            </div>
          </div>
          <div class="col-7 right">
            <div class="row g-3">
              <div class="col-4">
                <p class="text-nowrap text-primary">Late Night Shift: £{{ lateNightShift | number:'1.2-2' }}</p>
                <p class="text-nowrap text-primary">Out of Town: £{{ oot | number:'1.2-2' }}</p>
              </div>
              <div class="col-4">
                <p class="text-nowrap text-primary">Travel: £{{ travel | number:'1.2-2' }}</p>
                <p class="text-nowrap text-primary">Bonus: £{{ (crewInfo.bonus || 0) | number:'1.2-2' }}</p>
              </div>
            </div>

            <div class="row g-3">
              <div class="col justify-content-between common-flex">
                <button class="btn btn-primary w-1-5" (click)="bonusAction('APPLY')">
                  Apply Bonus
                  <span class="d-inline-block" style="width: 30px; height: 13px;">
                      @if (loading && bonusActionType === 'APPLY') {
                        <i class="fa-solid fa-spinner fa-spin-pulse m-l-10 " style="height: 13px;"></i>
                      }
                  </span>
                </button>

                <button class="btn btn-primary w-1-5" (click)="bonusAction('REMOVE')">
                  Remove Bonus
                  <span class="d-inline-block" style="width: 30px; height: 13px;">
                      @if (loading && bonusActionType === 'REMOVE') {
                        <i class="fa-solid fa-spinner fa-spin-pulse m-l-10 " style="height: 13px;"></i>
                      }
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="main-divider">
          <div class="divider-body divider-body-1 divider-primary">
            <div class="divider-p-primary }}">
              <i class="fa-solid fa-comments me-2 txt-primary f-20"></i>
              <span class="txt-primary">Skills</span>
            </div>
          </div>
        </div>

        <div class="row row-cols-6">
          @for (item of skills; track item) {
            <div class="col form-check checkbox checkbox-solid-warning">
              <input class="form-check-input" [id]="item.crewSkillId" type="checkbox" [checked]="item.checked">
              <label class="form-check-label user-select-none" [for]="item.crewSkillId">{{ item.crewSkillText }}</label>
            </div>
          }
        </div>

        <div class="row m-t-20">
          <div class="col justify-content-end">
            <button class="btn btn-primary float-end">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
