<app-card [cardBodyClass]="'projects-wrapper'">
  @if (loading) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
  } @else {
    <div class="tab-content" id="top-tabContent">
      <div class="tab-pane fade show active">
        <div class="row g-4">
          @for (schedule of scheduleList; track schedule.jobPartId + schedule.startDate) {
            <div class="col-xxl-3 col-md-6 col-ed-4 box-col-6" (click)="goToShift(schedule)">
              <app-grid-item [schedule]="schedule"></app-grid-item>
            </div>
          }
        </div>
      </div>
    </div>
  }
</app-card>
