@if (tableConfig) {
  <ng-template #rowActionsTpl let-actions="actions" let-details="details">
    <div class="product-action common-align gap-10 justify-content-start">
      @for (rows of actions; track rows) {
        @if (rows.type == 'button') {
          <button [class]="rows.class">{{ rows.label }}</button>
        }
        @if (rows.label == 'Create') {
          <button class="plus-btn">+</button>
        } @else if (rows.label == 'Edit' || rows.label == 'Delete' || rows.label == 'Copy') {
          <a [class]="rows.class ?? 'square-white'" href="javascript:void(0)"
             [class.table-action-hover-only]="rows.showOnHover === true"
             (click)="handleAction(rows, details)">
            @if (rows.label === 'Copy' && details.copyLoading) {
              <i class="fa-solid fa-spinner fa-spin txt-primary"></i>
            } @else if (rows.label === 'Delete' && details.deleteLoading) {
              <i class="fa-solid fa-spinner fa-spin txt-danger"></i>
            } @else if (rows.icon?.startsWith('fa-')) {
              <i [class]="rows.icon"></i>
            } @else {
              <app-svg-icon [icon]="rows.icon"></app-svg-icon>
            }
          </a>
        } @else if (rows.label == 'View') {
          <a class="square-white" href="javascript:void(0)" (click)="handleAction(rows, details)"
             [class.table-action-hover-only]="rows.showOnHover === true"
             [routerLink]="rows.path">
            <i class="fa-solid fa-eye"></i>
          </a>
        } @else if (rows.label == 'Refresh') {
          <a class="square-white" href="javascript:void(0)" placement="top"
             [class.table-action-hover-only]="rows.showOnHover === true"
             [ngbTooltip]="'Change Status'">
            <i class="fa-solid fa-{{ rows.icon }}"></i>
          </a>
        } @else if (rows.label == 'Message') {
          <Button class="btn btn-primary" placement="top" [ngbTooltip]="'Message'"
                  [class.table-action-hover-only]="rows.showOnHover === true"><i
            class="fa-solid fa-envelope"></i></Button>
        } @else if (rows.label == 'Approve') {
          <Button class="btn btn-success" placement="top" [ngbTooltip]="'Approve'"
                  [class.table-action-hover-only]="rows.showOnHover === true"><i
            class="fa-solid fa-thumbs-up"></i></Button>
        } @else if (rows.label == 'Reject') {
          <Button class="btn btn-danger" placement="top" [ngbTooltip]="'Reject'"
                  [class.table-action-hover-only]="rows.showOnHover === true"><i
            class="fa-solid fa-circle-xmark"></i></Button>
        }
      }
    </div>
  </ng-template>

  <div class="overflow-auto custom-scrollbar max-h-{{maxHeight}}">
    <table class="table" [ngClass]="tableClass">
      <thead>
      <tr>
        @if (hasCheckbox) {
          <th class="datatable-checkbox"
              [class.selected-checkbox]="selected.length && selected.length != tableConfig.data.length">
            <input type="checkbox" class="cb-select-checkbox"
                   [checked]="(tableConfig && tableConfig.data.length && selected && selected.length == tableConfig.data.length) || false"
                   (change)="checkUncheckAll($event)">
          </th>
        }

        @if (rowDetails) {
          <th></th>
        }

        @if (tableConfig.row_action_before) {
          <th class="text-start" aria-label="Row actions"></th>
        }

        @for (column of tableConfig.columns; track column) {
          @if (!column.hide_column) {
            @if (column.sort) {
              <th
                [ngClass]="sortable_key == (column.sortable_key ? column.sortable_key : column.field_value) && filter['sort'] == 'asc' ? 'asc' :
                  sortable_key == (column.sortable_key ? column.sortable_key : column.field_value) && filter['sort'] == 'desc' ? 'desc' : ''"
                (click)="onSort(column.sortable_key ? column.sortable_key : column.field_value)">
                {{ column.title }}
                <span class="cb-accending-decending"></span>
              </th>
            } @else {
              <th [ngClass]="column.class ? column.class : ''">{{ column.title }}</th>
            }
          }
        }

        @if (tableConfig.row_action) {
          <th class="text-end">{{ 'Actions' }}</th>
        }
      </tr>
      </thead>

      @if (tableData && tableData.length) {
        <tbody>
          @for (details of tableData | paginate: {
            itemsPerPage: pageSize,
            currentPage: pageNo,
            totalItems: totalCount
          }; track details) {
            <tr
              [class.selected]="selected && selected.length && selected.includes(details.id)"
              [class.hovered]="hover"
            >
              @if (hasCheckbox) {
                <td class="datatable-checkbox">
                  <input type="checkbox" [attr.data-id]="details.id" [value]="details?.id"
                         [checked]="selected && selected.length && selected.includes(details.id)"
                         (change)="onItemChecked($event)">
                </td>
              }

              @if (rowDetails) {
                <td [ngStyle]="{
                      'background': 'url(assets/images/' + (selectedOpenRows.includes(details.id) ? 'details_close' : 'details_open') + '.png) no-repeat center center',
                      'cursor': 'pointer'
                    }" (click)="openRowDetails(details.id)">
                </td>
              }

              @if (tableConfig.row_action_before) {
                <td class="flex items-center justify-content-start">
                  <ng-container
                    *ngTemplateOutlet="rowActionsTpl; context: { actions: tableConfig.row_action_before, details: details }"/>
                </td>
              }

              @for (column of tableConfig.columns; track column) {
                @if (!column.hide_column) {
                  @switch (column.type) {
                    @case ('link') {
                      <td>
                        <a target="_blank" [href]="'https://alphacrew.eu/Jobs/Edit/' + details[column.field_value]">
                          {{ details[column.field_value] }}
                        </a>
                      </td>
                    }
                    @case ('action') {
                      <td class="pointer" (click)="rowClicked.emit(details)" [innerHTML]="details[column.field_value]">
                        @if (column.text) {
                          {{ column.text }}
                        }
                      </td>
                    }
                    @case ('link_icon') {
                      <td class="pointer">
                        @if (column.showOnHover) {
                          <span class="table-link-icon-hover-only" [innerHTML]="details[column.field_value]"></span>
                        } @else {
                          <span [innerHTML]="details[column.field_value]"></span>
                        }
                      </td>
                    }
                    @case ('date') {
                      <td>
                        {{ details[column.field_value] | date: 'dd MMM yyy HH:mm' }}
                      </td>
                    }
                    @case ('qty') {
                      <td>
                        {{ details[column.field_value] }} {{ column.text ? column.text : 'QTY' }}
                      </td>
                    }
                    @case ('purchase') {
                      <td>
                        {{ details[column.field_value] }} Purchases
                      </td>
                    }
                    @case ('price') {
                      <td [ngClass]="column.class ? column.class : ''">
                        @if (column.decimal_number) {
                          £{{ details[column.field_value] | number: '1.2-2' }}
                        } @else {
                          £{{ details[column.field_value] }}
                        }
                      </td>
                    }
                    @case ('template') {
                      <td [ngClass]="column.class ? column.class : ''">
                        @if (columnTemplates?.[column.field_value]) {
                          <ng-container
                            *ngTemplateOutlet="columnTemplates[column.field_value]; context: { $implicit: details }"/>
                        }
                      </td>
                    }
                    @default {
                      <td [innerHTML]="details[column.field_value]" [ngClass]="column.class ? column.class : ''">
                        @if (column.text) {
                          {{ column.text }}
                        }
                      </td>
                    }
                  }
                }
              }

              @if (tableConfig.row_action) {
                <td class="flex items-center justify-content-end">
                  <ng-container
                    *ngTemplateOutlet="rowActionsTpl; context: { actions: tableConfig.row_action, details: details }"/>
                </td>
              }
            </tr>

            @if (rowDetails && selectedOpenRows.includes(details.id)) {
              <tr [attr.data-dt-row]="getColSpan()">
                <td [attr.colspan]="getColSpan()">
                  <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                    <tbody>
                      @for (column of tableConfig.columns; track column) {
                        <tr>
                          <td>{{ column.title }}</td>
                          <td [innerHTML]="details[column.field_value]"></td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </td>
              </tr>
            }
          }
        </tbody>
      } @else if (!tableData.length) {
        <tbody>
        <tr [attr.data-dt-row]="getColSpan()">
          <td [attr.colspan]="getColSpan()" class="empty-data">No data found</td>
        </tr>
        </tbody>
      }
    </table>
  </div>
}
