@if (tableConfig) {
  <div class="overflow-auto custom-scrollbar max-h-{{maxHeight}}">
    <table class="table" [ngClass]="tableClass">
      <thead>
      <tr>
        @if (hasCheckbox) {
          <th class="datatable-checkbox"
              [class.selected-checkbox]="selected.length && selected.length != tableConfig.data.length">
            <input type="checkbox" class="cb-select-checkbox"
                   [checked]="(tableConfig && tableConfig.data.length && selected && selected.length == tableConfig.data.length) || false"
                   (change)="checkUncheckAll($event)">
          </th>
        }

        @if (rowDetails) {
          <th></th>
        }

        @for (column of tableConfig.columns; track column) {
          @if (!column.hide_column) {
            @if (column.sort) {
              <th
                [ngClass]="sortable_key == (column.sortable_key ? column.sortable_key : column.field_value) && filter['sort'] == 'asc' ? 'asc' :
                  sortable_key == (column.sortable_key ? column.sortable_key : column.field_value) && filter['sort'] == 'desc' ? 'desc' : ''"
                (click)="onSort(column.sortable_key ? column.sortable_key : column.field_value)">
                {{ column.title }}
                <span class="cb-accending-decending"></span>
              </th>
            } @else {
              <th>{{ column.title }}</th>
            }
          }
        }

        @if (tableConfig.row_action) {
          <th>{{ 'Actions' }}</th>
        }
      </tr>
      </thead>

      @if (tableData && tableData.length) {
        <tbody>
          @for (details of tableData | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: totalCount }; track details) {
            <tr [class.selected]="selected && selected.length && selected.includes(details.id)">
              @if (hasCheckbox) {
                <td class="datatable-checkbox">
                  <input type="checkbox" [attr.data-id]="details.id" [value]="details?.id"
                         [checked]="selected && selected.length && selected.includes(details.id)"
                         (change)="onItemChecked($event)">
                </td>
              }

              @if (rowDetails) {
                <td [ngStyle]="{
                      'background': 'url(assets/images/' + (selectedOpenRows.includes(details.id) ? 'details_close' : 'details_open') + '.png) no-repeat center center',
                      'cursor': 'pointer'
                    }" (click)="openRowDetails(details.id)">
                </td>
              }

              @for (column of tableConfig.columns; track column) {
                @if (!column.hide_column) {
                  @switch (column.type) {
                    @case ('link') {
                      <td>
                        <a target="_blank" [href]="'https://alphacrew.eu/Jobs/Edit/' + details[column.field_value]">
                          {{ details[column.field_value] }}
                        </a>
                      </td>
                    }
                    @case ('date') {
                      <td>
                        {{ details[column.field_value] | date: 'dd MMM yyy HH:mm' }}
                      </td>
                    }
                    @case ('qty') {
                      <td>
                        {{ details[column.field_value] }} {{ column.text ? column.text : 'QTY' }}
                      </td>
                    }
                    @case ('purchase') {
                      <td>
                        {{ details[column.field_value] }} Purchases
                      </td>
                    }
                    @case ('price') {
                      <td [ngClass]="column.class ? column.class : ''">
                        @if (column.decimal_number) {
                          ${{ details[column.field_value] | number: '1.2-2' }}
                        } @else {
                          ${{ details[column.field_value] }}
                        }
                      </td>
                    }
                    @default {
                      <td [innerHTML]="details[column.field_value]">
                        @if (column.text) {
                          {{ column.text }}
                        }
                      </td>
                    }
                  }
                }
              }

              @if (tableConfig.row_action) {
                <td>
                  <div class="product-action common-align gap-2 justify-content-start">
                    @for (rows of tableConfig.row_action; track rows) {
                      @if (rows.type == 'button') {
                        <button [class]="rows.class">{{ rows.label }}</button>
                      }
                      @if (rows.label == 'Create') {
                        <button class="plus-btn">+</button>
                      } @else if (rows.label == 'Edit' || rows.label == 'Delete') {
                        <a class="square-white" href="javascript:void(0)" [routerLink]="rows.path"
                           (click)="handleAction(rows, details)">
                          <app-svg-icon [icon]="rows.icon"></app-svg-icon>
                        </a>
                      } @else if (rows.label == 'View') {
                        <a class="square-white" href="javascript:void(0)" (click)="handleAction(rows, details)"
                           [routerLink]="rows.path">
                          <i class="fa-solid fa-eye"></i>
                        </a>
                      } @else if (rows.label == 'Refresh') {
                        <a class="square-white" href="javascript:void(0)" placement="top"
                           [ngbTooltip]="'Change Status'">
                          <i class="fa-solid fa-{{ rows.icon }}"></i>
                        </a>
                      } @else if (rows.label == 'Message') {
                        <Button class="btn btn-primary" placement="top" [ngbTooltip]="'Message'"><i
                          class="fa-solid fa-envelope"></i></Button>
                      } @else if (rows.label == 'Approve') {
                        <Button class="btn btn-success" placement="top" [ngbTooltip]="'Approve'"><i
                          class="fa-solid fa-thumbs-up"></i></Button>
                      } @else if (rows.label == 'Reject') {
                        <Button class="btn btn-danger" placement="top" [ngbTooltip]="'Reject'"><i
                          class="fa-solid fa-circle-xmark"></i></Button>
                      }
                    }
                  </div>
                </td>
              }
            </tr>

            @if (rowDetails && selectedOpenRows.includes(details.id)) {
              <tr data-dt-row="8">
                <td colspan="8">
                  <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                    <tbody>
                      @for (column of tableConfig.columns; track column) {
                        <tr>
                          <td>{{ column.title }}</td>
                          <td [innerHTML]="details[column.field_value]"></td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </td>
              </tr>
            }
          }
        </tbody>
      } @else if (!tableData.length) {
        <tbody>
        <tr [attr.data-dt-row]="getColSpan()">
          <td [attr.colspan]="getColSpan()" class="empty-data">No data found</td>
        </tr>
        </tbody>
      }
    </table>
  </div>
}
