<div class="container-fluid p-t-20">
  <div class="row">
    <div class="col">
      <app-schedule-list (openJobsShifts)="openModal($event)" [list]="scheduleService.shifts"
                         [loading]="loading()" [jobShiftsLoading]="JobScheduleLoading()">
      </app-schedule-list>
<!--      <app-schedule-grid [scheduleList]="scheduleService.shifts"-->
<!--                         [loading]="loading()"-->
<!--      ></app-schedule-grid>-->
    </div>
  </div>
</div>

<ng-template #scheduleModal let-modal>
  <div class="modal-header fixed-top">
    <h4 class="modal-title">Job Sifts</h4>
    <button class="btn-close py-0" type="button" (click)="closeModal(modal)"></button>
  </div>

  <div class="overflow-y-auto overflow-x-hidden">
    <app-schedule-list [list]="scheduleService.jobScopedShifts" [isJobScoped]="true"></app-schedule-list>
  </div>
</ng-template>
